@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('RobotoSlab-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.otf');
  font-style: normal;
}
