<template>
  <div class="binary-tree-section">
    <div class="tree-actions" v-if="showActions">
      <div class="tree-control">
        <div class="tree-control_item">
          <span class="arrow-left">&#x2190;</span>
          Конец ноги
        </div>
        <div class="tree-control_item">Наверх</div>
        <div class="tree-control_item">
          Конец ноги
          <span class="arrow-right">&#x2192;</span>
        </div>
      </div>
      <div class="tree-search">
        <input class="" type="text" placeholder="поиск по никнейму" name="search" autocomplete="off">
        <img class="search" src="/images/search.svg" />
      </div>
    </div>
    <TreeItem />
  </div>
</template>

<script>
  import TreeItem from "./TreeItem";
  export default {
    name: 'BinaryTree',
    components: {TreeItem},
    data() {
      return {
        showActions: true,
      }
    },
    mounted() {
      window.addEventListener('resize', this.resizeHandler)
      this.resizeHandler()
    },

    beforeDestroy() {
      window.removeEventListener('resize', this.resizeHandler)
    },
    methods: {
      resizeHandler() {
        if(window.innerWidth <= 960) {
          this.showActions = false;
        } else if(window.innerWidth > 960){
          this.showActions = true;
        }
      },
    }
  };
</script>
<style lang="scss" scoped>
  .binary-tree-section {
    font-family: 'Roboto Slab';
    .tree-actions {
      margin-top: 42px;
      margin-bottom: 84px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .tree-control {
        width: 550px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #242844;
        border-radius: 20px;

        &_item {
          display: flex;
          align-items: center;
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
          text-transform: uppercase;
          color: #ffffff;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            color: #00ffa3;
          }
          .arrow-left {
            font-size: 22px;
            margin-right: 10px;
          }
          .arrow-right {
            font-size: 22px;
            margin-left: 10px;
          }
        }
      }
      .tree-search {
        position: relative;
        margin-left: 23px;
        input {
          width: 296px;
          height: 57px;
          padding-left: 23px;
          padding-right: 55px;
          background-color: #181B32;
          border: 2px solid #192E57;
          border-radius: 20px;
          color: rgba(255, 255, 255, 0.5);
          outline: none;
        }
        ::-webkit-input-placeholder {
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.5);
        }

        :-ms-input-placeholder {
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.5);
        }

        ::placeholder {
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.5);
        }

        .search {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
</style>
