<template>
  <div class="chart-bar">
    <div class="chart-control_wrap">
      <div class="chart-control">
        <span
          v-for="tab in tabs"
          :key="tab.key"
          class="chart-control_item"
          :class="{'isActive': tab.active}"
          @click="tabSelect(tab)"
        >
          {{tab.name}}
        </span>
      </div>
    </div>
    <div :class="{'week-chart': week}">
      <apexchart width="100%" height="400" :options="options" :series="series"></apexchart>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ChartBar',
    data() {
      return {
        tabs: [
          {key: 'month', name: 'за месяц', active: true},
          {key: 'week', name: 'за неделю', active: false},
        ],
        week: false,
        options: {
          chart: {
            stacked: true,
            type: 'bar',
            id: 'chart-bar',
            columnWidth: '10px',
            zoom: {
              enabled: false,
            }
          },
          legend: {
            horizontalAlign: 'right',
            fontSize: '20px',
            fontFamily: 'Roboto Slab',
            markers: {
              strokeColor: '#fff',
            },
          },
          colors: ['#00ffa3', '#6387cd', '#ffc700'],
          rangeBarOverlap: true,
          xaxis: {
            categories: [],
            labels: {
              show: false,
            },
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            }
          },
          yaxis: {
            show: false,
            showAlways: false,
            showForNullSeries: false,
            labels: {
              show: true,
            }
          },
          dataLabels: {
            enabled: false,
          },
        },
        series: [{
          name: 'Бинарный доход',
          data: [10, 20, 45, 50, 49, 60, 40, 51, 30, 40, 45, 50, 49, 50, 40, 21, 40, 45, 50, 49, 60, 70, 31, 30, 40, 45, 50, 49, 60, 70, 9 ]
        },
        {
          name: 'линейный доход',
          data: [10, 20, 45, 50, 49, 60, 40, 51, 30, 40, 45, 50, 49, 50, 40, 21, 40, 45, 50, 49, 60, 70, 31, 30, 40, 45, 50, 49, 60, 70, 91 ]
        },
        {
          name: 'Ранговый доход',
          data: [10, 20, 45, 50, 49, 60, 40, 51, 30, 40, 45, 50, 49, 50, 40, 21, 40, 45, 50, 49, 60, 70, 31, 30, 40, 45, 50, 49, 60, 70, 9 ]
        }],

      }
    },
    mounted() {
      window.addEventListener('resize', this.resizeHandler)
      this.resizeHandler()
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.resizeHandler);
    },
    methods: {
      tabSelect(tab) {
        const data = [...this.series]
        if( tab.key === 'week' ) {
          this.week = true
          data.map(el => {
            el.data = [10, 15, 20, 25, 30, 40, 50]
          })
        }
        if( tab.key === 'month' ) {
          this.week = false
          data.map(el => {
            el.data = [10, 20, 45, 50, 49, 60, 40, 51, 30, 40, 45, 50, 49, 50, 40, 21, 40, 45, 50, 49, 60, 70, 31, 30, 40, 45, 50, 49, 60, 70, 9]
          })
        }
        this.series = [...data]
        this.tabs.map(tab => { tab.active = !tab.active } )
      },
      resizeHandler() {
        let data = {...this.options}
        let legend = {...data.legend}
        if(window.innerWidth < 960 && window.innerWidth > 550 ) {
          legend.horizontalAlign = 'left'
          data.legend = {...legend}
          this.options = {...data}
        } else if(window.innerWidth > 960) {
          legend.horizontalAlign = 'right'
          data.legend = {...legend}
          this.options = {...data}
        } else if(window.innerWidth <= 550) {
          legend.horizontalAlign = 'left'
          legend.fontSize = '12'
          data.legend = {...legend}
          this.options = {...data}
        }
      }
    }

  };
</script>

<style lang="scss" scoped>
  .week-chart {
    /*width: 300px;*/
    margin: 0 auto;
  }
  .chart-control {
    font-family: 'Roboto';
    display: flex;
    align-items: center;

    &_wrap {
      display: flex;
      justify-content: flex-end;
      margin-top: -30px;
    }
    &_item {
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #FFFFFF;
      padding-bottom: 9px;
      margin-left: 52px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      opacity: 0.5;
      @media(max-width: 550px) {
        margin-left: 19px;
      }
    }
    .isActive {
      border-bottom: 2px solid #00FFA3;
    }
  }
</style>
<style lang="scss">
  .chart-bar {
    line {
      display: none!important;
    }
    .apexcharts-legend {
      display: flex;
      justify-content: flex-start;
    }
    .apexcharts-menu-icon {
      display: none;
    }
    .apexcharts-legend-series {
      display: flex!important;
    }
    .apexcharts-legend-marker {
      margin-right: 0;
      margin-left: 25px;
      border-radius: 50%!important;
      width: 10px!important;
      height: 10px!important;
    }
    .apexcharts-legend-text {
      color: #FFFFFF!important;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }
</style>
