<template>
  <div>
    <apexchart :width="test" type="donut" :options="options" :series="series"></apexchart>
    <div class="chart-text">
      <span class="x4">X4</span>
      <span class="percent">35%</span>
      <span class="division">3 500 / 10 000</span>
      <span class="elv">elv</span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ChartDonut',
    data() {
      return {
        test: 330,
        options: {
          labels: ['test1', 'test2'],
          chart: {
            type: 'donut',
            foreColor: '#ffffff'
          },
          legend: {
            show: false
          },
          stroke: {
            colors: ['transparent']
          },
          colors: ['#899cff', '#00ffa3'],
          plotOptions: {
            pie: {
              startAngle: -35,
              expandOnClick: false,
              donut: {
                size: '85%',
              },
            }
          },
          dataLabels: {
            enabled: false,
          }
        },
        series: [65, 35]
      }
    },
    mounted() {
      window.addEventListener("resize", this.resizeHandler);
      this.resizeHandler();
    },
    beforeDestroy() {
      window.removeEventListener("resize", this.resizeHandler);
    },
    methods: {
      resizeHandler() {
      if((window.innerWidth <= 550) && (window.innerWidth > 380)) {
        this.test = 270
      } else if(window.innerWidth <= 380) {
        this.test = 230
      } else {
        this.test = 330
      }
    }
  }

  };
</script>

<style lang="scss" scoped>
  .chart-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto Slab";
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .x4 {
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      @media(max-width: 550px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    .percent {
      font-weight: normal;
      font-size: 50px;
      line-height: 66px;
      text-transform: uppercase;
      @media(max-width: 550px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
    .division, .elv {
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      @media(max-width: 550px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
    .elv {
      color: rgba(255, 255, 255, 0.5);
    }
  }
</style>
