<template>
  <div class="comparative-table_wrap">
    <div class="comparative-table">
      <h2>Сравнительная таблица</h2>
      <table>
        <thead>
        <tr class="comparative-table_head">
          <th
            v-for="(item,i) in head"
            :key="i"
          >
            {{item}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,i) in data" :key="i" class="comparative-table_row">
          <td>{{item.name}}</td>
          <td>
            <span v-if="item.bronze" class="green-text"> {{item.bronze}} </span>
            <img v-else src="/images/close.svg"/>
          </td>
          <td> <img :src="item.silver ? '/images/check-green.svg' : '/images/close.svg'"/> </td>
          <td> <img :src="item.golden ? '/images/check-green.svg' : '/images/close.svg'"/> </td>
          <td> <img :src="item.platinum ? '/images/check-green.svg' : '/images/close.svg'"/> </td>
          <td> <img :src="item.vip ? '/images/check-green.svg' : '/images/close.svg'"/> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => {
      return {
        head: ['','Бронзовый', 'Серебряный', 'Золотой', 'Платиновый', 'VIP'],
        data: [
          {name: 'Стратегии', bronze: '1', silver: true, golden: true, platinum: true, vip: true},
          {name: 'Лимит на торговлю', bronze: '5000 USDT', silver: false, golden: false, platinum: false, vip: false},
          {name: 'Заработок партнера в сутки', bronze: '1000 elv', silver: true, golden: true, platinum: true, vip: true},
          {name: 'Длительность', bronze: '365 дней', silver: true, golden: true, platinum: true, vip: true},
          {name: 'Приоритетная поддержка', bronze: false, silver: true, golden: true, platinum: true, vip: true},
          {name: 'Стоимость', bronze: '100 usd', silver: true, golden: true, platinum: true, vip: true},
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .comparative-table {
    /*width: 71%;*/
    width: 960px;
    margin: 0 auto 0;
    @media(max-width: 1440px) {
      /*width: 88%;*/
    }
    &_wrap {
      font-family: 'Roboto Slab';
      h2 {
        font-weight: bold;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        margin-bottom: 55px; //see table row padding or height below
      }
    }
    table {
      width: 100%;
      margin-bottom: 230px;
    }
    &_head {
      th {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        height: 80px;
        text-align: center;
      }
    }
    &_row {
      .green-text {
        color: #00FFA3;
      }
      td {
        height: 80px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        &:first-child {
          text-align: left;
          width: 300px;
        }
      }
    }
  }
</style>
