<template>
  <div class="contract-box">
    <div class="contract-box-row">
      <span class="name">контракт</span>
      <span class="text bold-text">бронза</span>
      <button v-if="desktop" class="control-button">управление</button>
    </div>
    <div class="contract-usdt">
      <div class="contract-usdt-value">
        <span class="value">500</span>
        <span class="usdt">USDT</span>
      </div>
      <button v-if="!desktop" class="control-button">управление</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contract',
  data: () => ({
    desktop: true,
  }),

  mounted() {
    window.addEventListener('resize', this.resizeHandler)
    this.resizeHandler()
  },


  beforeDestroy() {
    window.removeEventListener('resize', this.resizeHandler)
  },

  methods: {
    resizeHandler() {
      if(window.innerWidth <= 960) {
        this.desktop = false
      } else {
        this.desktop = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.contract-box {
  /*height: 182px;*/
  font-family: 'Gilroy';
  width: 40%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  /*margin-left: 70px;*/
  padding-left: 35px;
  background: #222930;
  /* серебро */

  box-shadow: inset 0px 0px 60px rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  @media(max-width: 960px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
    padding-left: 0 ;
  }

  &-row {
    /*width: 90%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 35px 0px 0px;
    @media(max-width: 960px) {
      margin: 0;
      text-align: center;
    }
    .name {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #58626C;
      @media(max-width: 960px)  {
        margin-top: 30px;
        font-size: 14px;
        line-height: 18px;
      }

    }
    .value {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      color: #FFFFFF;
      @media(max-width: 960px)  {
        font-size: 14px;
        line-height: 18px;
      }
    }
    .text {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    .control-button {
      height: 59px;
      font-family: 'Gilroy';
      cursor: pointer;
      background: #FFBB55;
      border-radius: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border: 1px solid #FFBB55;
      color: #171D21;
      flex: none;
      order: 0;
      align-self: center;
      margin-top: 18px;
    }
  }
  .contract-usdt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .control-button {
      width: 90%;
      height: 59px;
      font-family: 'Gilroy';
      cursor: pointer;
      background: #FFBB55;
      border-radius: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      border: 1px solid #FFBB55;
      color: #171D21;
      flex: none;
      order: 0;
      align-self: center;
      margin: 10px 20px 30px 20px;
    }
    &-value {
      margin: 30px 25px 30px 0;
      padding: 32px 40px 32px 41px;
      height: 132px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #171D21;
      border-radius: 5px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      @media(max-width: 960px) {
        margin: 5%;
      }
    }
    .usdt {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      color: #58626C;
    }
  }
}
.box-element {
  display: flex;
  align-items: center;
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00FFA3;
  }
}
</style>
