<template>
  <div class="cryptocurrency-wrap">
    <section>
      <div class="scroll">
        <div class="cryptocurrency group1">
          <div
            v-for="(item,i) in items"
            :key="i"
            class="cryptocurrency-item"
          >
            <span class="name">{{item.name}}</span>
            <span class="value">{{item.value}}</span>
            <span class="percent">{{item.percent}}%</span>
          </div>
        </div>
        <div class="cryptocurrency group2">
          <div
            v-for="(item,i) in items"
            :key="i"
            class="cryptocurrency-item"
          >
            <span class="name">{{item.name}}</span>
            <span class="value">{{item.value}}</span>
            <span class="percent">{{item.percent}}%</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  export default {
    data: () => ({
      items: [
        {name: 'USDT/BTC1', value: '11423', percent: '+5'},
        {name: 'USDT/BTC2', value: '11423', percent: '+5'},
        {name: 'USDT/BTC3', value: '11423', percent: '+5'},
        {name: 'USDT/BTC4', value: '11423', percent: '+5'},
        {name: 'USDT/BTC5', value: '11423', percent: '+5'},
        {name: 'USDT/BTC6', value: '11423', percent: '+5'},
        {name: 'USDT/BTC7', value: '11423', percent: '+5'},
        {name: 'USDT/BTC8', value: '11423', percent: '+5'},
        {name: 'USDT/BTC9', value: '11423', percent: '+5'},
        {name: 'USDT/BTC10', value: '11423', percent: '+5'},
        {name: 'USDT/BTC11', value: '11423', percent: '+5'},
        {name: 'USDT/BTC12', value: '11423', percent: '+5'},
      ]
    }),
  }
</script>

<style lang="scss" scoped>


  .scroll:hover >  .group1 {
    animation-play-state: paused!important;
  }
  .scroll:hover >   .group2 {
    animation-play-state: paused!important;
  }

  .cryptocurrency-wrap {

    background: #0F1112;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    section {
      position: relative;
      width: 100%;
      overflow: hidden;

      .scroll {
        width: 100%;
        display: flex;

        .cryptocurrency {
          display: flex;
          white-space: nowrap;
          font-weight: 900;
          font-size: 16px;
          animation: animate 30s linear infinite;
          animation-delay: -30s;

          &:nth-child(2) {
            animation: animate2 30s linear infinite;
            animation-delay: -15s;
          }

          .cryptocurrency-item {
            font-family: 'Roboto';
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            padding: 2px 19px 2px 2px;
            margin-right: 19px;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            cursor: pointer;
            min-width: 181px;

            .name {
              color: #FFFFFF;
            }

            .value {
              font-weight: normal;
              color: #8f8f9a;
            }

            .percent {
              color: #00ffa3;
            }

            /*-webkit-text-stroke: 2px #000;*/
            /*color: transparent;*/
          }
        }

        @keyframes animate {
          0% {
            transform: translateX(100%);
          }
          100% {
            transform: translate(-100%);
          }
        }
        @keyframes animate2 {
          0% {
            transform: translateX(0);
          }
          100% {
            transform: translate(-200%);
          }
        }
      }
    }
  }
</style>
