<template>
  <div class="fill-modal">
    <div class="fill-modal_content">
      <div class="head">
        <h3>выберите контракт</h3>
        <img src="/images/close.svg" @click="$emit('close')" />
      </div>
      <p>Для пополнения выбранной стратегии необходимо выбрать
        контракт или повысить уровень текущего контракта
      </p>
      <p class="question">Перейти к выбору контракта?</p>
      <div class="modal-btn_wrap">
        <button class="modal-btn">Перейти</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FillModal'
  }
</script>

<style lang="scss" scoped>
  .fill-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 555;
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    background: linear-gradient(255.99deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 99.23%), #2B2F50;
    padding: 80px 90px 60px;
    font-family: 'Roboto Slab';
    color: #ffffff;

    &_content {
      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        h3 {
          font-weight: bold;
          font-size: 30px;
          line-height: 40px;
          text-transform: uppercase;
        }
        img {
          cursor: pointer;
        }
      }
      p {
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 35px;
      }
      .question {
        font-weight: bold;
      }
      .modal-btn {
        height: 52px;
        padding: 0 50px;
        background: #FFE200;
        border: 2px solid #FFE200;
        border-radius: 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #000000;
        &_wrap {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
</style>
