<template>
  <div class="footer">
    <div class="footer-border"></div>
    <div class="footer-wrapper">
      <div class="footer-logo-wrapper">
        <div class="footer-logo"></div>
        <div class="footer-name">AIVY 2020 © All rights reserved</div>
      </div>
      <div class="footer-items">
        <span v-if="desktop">Вопросы и ответы</span>
        <span v-if="!desktop">FAQ</span>
        <span>Документы</span>
        <span>Поддержка</span>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
    data: () => ({
      desktop: true,

    }),
    mounted() {
      window.addEventListener('resize', this.resizeHandler)
      this.resizeHandler()
    },


    beforeDestroy() {
      window.removeEventListener('resize', this.resizeHandler)
    },
    methods: {
      resizeHandler() {
        if(window.innerWidth <= 960) {
          this.desktop = false
        } else if(window.innerWidth > 960){
          this.desktop = true
        }
      }

    }
  };
</script>

<style lang="scss" scoped>
  .footer {
    display: flex;
    flex-direction: column;
  &-border {
    width: 100%;
    height: 2px;
    background: #222930;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  &-wrapper {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    @media(max-width: 1160px) {
      width: 90%;
      margin-top: 0;
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    @media(max-width: 768px) {
      /*padding-left: 5%;*/
    }
    @media(max-width: 550px) {
      flex-direction: column-reverse;
    }
  }

    &-logo {
      width: 105px;
      height: 60px;
      background-image: url("/images/elvylogo.svg");
      background-size: 100%;
      @media(max-width: 960px) {
        width: 60px;
        height: 34px;
      }
      @media(max-width: 768px) {
        font-size: 10px;
        line-height: 13px;
      }
      @media(max-width: 550px) {
        font-size: 10px;
        line-height: 13px;
      }
      &-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width: 960px) {
          margin-top: 20px;
          width: 100%;
          justify-content: space-between;
        }
        @media(max-width: 768px) {
          width: 100%;
        }
        @media(max-width: 550px) {
          width: 100%;
        }
      }

    }
    &-name {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #58626C;
      margin-left: 40px;
      @media(max-width: 960px) {
        margin-left: 0;
      }

    }

    &-items {
      display: flex;
      align-items: center;
      @media(max-width: 960px) {
        width: 50%;
      }


      span {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 40px;
        @media(max-width: 960px) {
          text-align: center;
          margin: 20px 30px 0px 0px;
          font-size: 12px;
          line-height: 18px;
        }

        @media(max-width: 550px) {
          margin-left: 0px;
          margin-right: 5%;
        }
      }
    }
  }
</style>
