<template>
  <div class="header">
    <div class="header-name"></div>
    <div class="header-items">
      <div v-if="desktop">
        <span v-if="!this.userData.id">вход/регистрация</span>
        <div v-if="this.userData.id">
          <span>торговля</span>
          <span>команда</span>
          <span>кошелек</span>
          <div>
            <span>makarenko</span>
            <span class="arrowImg"></span>
          </div>
        </div>
      </div>
      <span v-if="!desktop" class="header-img"></span>
    </div>
  </div>
</template>

<script>
  import  { mapGetters } from "vuex";
  export default {
    data: () => ({
      desktop: true,

    }),

    computed: {
      ...mapGetters({
        userData: 'auth/USER_DATA',
      })

    },
    mounted() {
      window.addEventListener('resize', this.resizeHandler)
      this.resizeHandler()
     //  const fstx = await  this.$axios.get('/v1/contracts')
     // console.log(fstx,'fstx')
    },

    beforeDestroy() {
      window.removeEventListener('resize', this.resizeHandler)
    },
    methods: {
      resizeHandler() {
        if(window.innerWidth <= 960) {
          this.desktop = false
          console.log(this.userData,'userData')
        } else if(window.innerWidth > 960){
          this.desktop = true
        }
      }

    }
  };
</script>

<style lang="scss" scoped>
  .header {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 16px 0px;
    @media(max-width: 1160px) {
      width: 90%;
      height: 70px;
    }
    &-img {
      background-image: url("/images/XMLID.svg");
      width: 20px;
      height: 18px;
    }
    /*@media(max-width: 960px) {*/
    /*  padding: 10px;*/
    /*}*/
    /*@media(max-width: 550px) {*/
    /*  padding: 10px;*/
    /*}*/

    &-name {
      width: 105px;
      height: 60px;
      background-image: url("/images/elvylogo.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      @media(max-width: 960px) {
        width: 88px;
        height: 50px;
      }

    }
    &-items {
      display: flex;
      align-items: center;


      span {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #FFFFFF;
        margin-left: 25px;
        @media(max-width: 960px) {
          margin-top: 9px;
          margin-left: 0px;
        }
        @media(max-width: 768px) {
          font-size: 10px;
          line-height: 13px;
        }
        @media(max-width: 550px) {
          margin-top: 9px;
          font-size: 10px;
          line-height: 13px;
        }

        @media(max-width: 550px) {
          margin-left: 0px;
          margin-right: 5%;
        }
      }
    }
    .arrowImg {
      width: 100px;
      height: 100px;
      background-image: url("/images/XMLID1506.svg");
    }
  }
</style>
