<template>
  <div class="limit-box">
    <div class="img-wrapper">
      <h1 class="user-name">Makarenko</h1>

        <div class="user-status">
              <img src="/images/status.svg"/>
              <span class="rom">2</span>
            </div>
<!--        <img v-if="true" src="/images/icon.svg" alt=""/>-->

    </div>
    <div class="percent-row">
      <div class="text-wrapper">
        <span class="text">Текущий ранг</span>
        <span class="text-meneger">менеджер</span>
      </div>
      <span class="number">{{ a }} - {{ b }}</span>
    </div>
    <div class="percent-wrap">
      <div class="percent-bar" :style="percentBarWidth">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => {
      return {
        a: 25000,
        b: 50000,
      }
    },
    computed: {
      percentBarWidth() {
        const percent = this.a/this.b * 100
        return {
          width: `${percent}%`
        }
      },
    }
  }
</script>

<style lang="scss" scoped>
  .limit-box {
    width: 70%;
    font-family: 'Gilroy';
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    /*margin-right: 70px;*/
    @media (max-width: 960px) {
      width: 90%;
      height: 135px;
      border: none;
      background: transparent;
      /*margin-right: 0px;*/
    }

    /*@media (max-width: 660px) {*/
    /*  width: 85%;*/
    /*}*/

    /*@media (max-width: 550px) {*/
    /*  width: 100%;*/
    /*  border: none;*/
    /*  background: transparent;*/
    /*  margin-left: 0px;*/
    /*}*/

    .img-wrapper {
      width: 90%;
      height: 110px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media(max-width: 960px) {
        width: 100%;
      }

      .user-status {
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #222930;

        @media(max-width: 960px) {
          width: 60px;
          height: 60px;
        }

        img {
          position: absolute;
          top: 61%;
          left: 50%;
          transform: translate(-50%, -50%);
          @media(max-width: 960px) {
            width: 50px;
            height: 50px;
          }
        }
      }
      .rom {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #75f4c1;
        @media(max-width: 550px) {
          font-size: 20px;
          line-height: 24px;
        }
      }

    .user-name {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 59px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #FFFFFF;
      @media(max-width: 960px) {
        text-align: center;
        font-size: 24px;
        line-height: 28px;
      }

      @media(max-width: 550px) {
        width: 35%;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.1em;
        text-transform: uppercase;


        color: #FFFFFF;
      }
    }
  }
    .percent-row {
      width: 90%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 20px;
      @media(max-width: 960px) {
        width: 100%;
      }
      .text {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #58626C;
        @media(max-width: 960px) {
          font-size: 12px;
          line-height: 18px;
        }

        &-meneger {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          /* white */

          color: #FFFFFF;
          @media(max-width: 960px) {
            font-size: 18px;
            line-height: 21px;
          }
        }
       &-wrapper {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
       }
      }
      .number {
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: right;
        text-transform: uppercase;

        /* grey */

        color: #58626C;
        margin-left: 29px;
        @media(max-width: 960px) {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
    .percent-wrap {
      width: 90%;
      height: 5px;
      background: #222930;
      border-radius: 5px;
      transform: matrix(1, 0, 0, -1, 0, 0);
      @media(max-width: 960px) {
        width: 100%;
      }

      .percent-bar {
        width: 25%;
        height: 5px;
        background: linear-gradient(180deg, #49FFBD 0%, #10C58F 100%);
        box-shadow: 0px 5px 68px rgba(100, 255, 199, 0.3), 0px 5px 24px rgba(0, 0, 0, 0.1), inset 0px 3px 28px rgba(160, 255, 210, 0.75);
        border-radius: 5px 0px 0px 5px;
        transform: matrix(1, 0, 0, -1, 0, 0);

      }
    }
  }
</style>
