<template>
  <div class="accruals">
    <h2>партнерские начисления</h2>
    <div class="tab">
      <div
        v-for="(tab,i) in tabs"
        :key="i"
        class="tab-item"
        :class="{'tab-active': tab.active}"
        @click="tabSelect(tab)"
      >
        {{tab.name}}
      </div>

    </div>
    <client-only>
      <component :is="currentComponent" />
    </client-only>
  </div>
</template>

<script>
  import ChartBar from "./ChartBar";
  import BinaryTree from "./BinaryTree";
  export default {
    components: {ChartBar, BinaryTree},
    data: () => ({
      tabs: [
        {name: 'доход', component: 'ChartBar', active: true},
        {name: 'команда', component: 'BinaryTree', active: false},
      ],
      currentComponent: ChartBar
    }),
    methods: {
      tabSelect(item) {
        this.currentComponent = item.component
        this.tabs.map(tab => { tab.active = !tab.active }  )
      }
    }
  };
</script>

<style lang="scss" scoped>
  .accruals {
    color: #FFFFFF;
    @media(max-width: 960px) {
      margin: 0 auto;
      width: 90%;
    }
    h2{
      font-family: 'Roboto Slab';
      font-weight: bold;
      font-size: 40px;
      line-height: 53px;
      text-transform: uppercase;
      margin-bottom: 35px;
      @media(max-width: 768px) {
        font-size: 20px;
        line-height: 26px;
      }
      @media(max-width: 550px) {
        margin-bottom: 24px;
      }

    }
    .tab {
      display: flex;
      align-items: center;
      border-bottom: 2px solid transparent;
      .tab-active {
        border-bottom: 2px solid #00FFA3;
      }
      &-item {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        cursor: pointer;
        padding-bottom: 12px;
        @media(max-width: 960px) {
          padding-bottom: 6px;
        }
        @media(max-width: 550px) {
          font-size: 14px;
          line-height: 16px;
        }
        &:nth-child(2n) {
          margin-left: 35px;
          @media(max-width: 550px) {
            margin-left: 17px;
          }
        }
      }
    }
  }
</style>
