<template>
  <div class="transactions">
    <h3>Транзакции</h3>
    <div class="transactions-container">
      <table class="transactions-table">
        <thead class="transactions-thead">
          <tr class="transactions-table_head">
            <th
              v-for="(item,i) in head"
              :key="i"
            >
              {{item}}
            </th>
          </tr>
        </thead>
        <tbody>
        <tr v-for="(item,i) in data" :key="i" class="transactions-table_row">
          <td class="date">{{ date(item.date) }} <span class="hour">{{ hour(item.date) }}</span></td>
          <td class="source">{{item.source}}</td>
          <td :class="{'amount': item.amount < 0, 'amount-active': item.amount > 0}">{{item.amount}}</td>
          <td class="description">{{item.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  export default {
    data: () => ({
        head: ['Дата', 'Источник', 'Сумма', 'Описание'],
        data: [
          {date: '10.10.2021 15:00:00', source: 'user123', amount: '+0.00001', description: 'Начисление по бинару с 22.06.2020 по 29.06.2020, левая нога 450, правая нога 153150, база для бонуса 450'},
          {date: '10.10.2021 15:00:00', source: 'user124', amount: '-0.00001', description: 'Начисление по бинару с 22.06.2020 по 29.06.2020, левая нога 450, правая нога 153150, база для бонуса 450'}
        ]
    }),
    methods: {
      date(val) {
        return moment(new Date(val)).format('DD.MM.YYYY')
      },
      hour(val) {
        return moment(new Date(val)).format('HH:mm')
      }
    }
  };
</script>

<style lang="scss" scoped>
  .transactions {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 60px;
    @media(max-width: 960px) {
      overflow-x: scroll;
      margin-left: 5%;
    }
    h3{
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-top: 54px;
      margin-bottom: 41px;
      @media(max-width: 550px) {
        margin-top: 20px;
        font-size: 16px;
        line-height: 21px;
      }
    }
    &-container {
      @media(max-width: 960px) {
        overflow-x: scroll;
      }
    }

    &-table {
      width: 960px;
      border-collapse:separate;
      border-spacing:0 4px;


      &_head {
        height: 60px;
        background: #2B2F50;
        text-transform: uppercase;
        @media(max-width: 960px) {
          height: 30px;
        }
        th {
          @media(max-width: 960px) {
            font-size: 10px;
            line-height: 13px;
        }
        }

        th:first-child {
          padding-left: 25px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        th:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      &_row {
        height: 60px;
        padding: 0 40px;
        background: #232540;
        @media(max-width: 960px) {
          height: 30px;
        }

        td {
          @media(max-width: 960px) {
            font-size: 10px;
            line-height: 13px;
          }
        }
        td:first-child {
          padding-left: 25px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        td:nth-child(4n) {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .hour {
        color: rgba(255, 255, 255, 0.5);
        margin-left: 24px;
      }
      .source {
        text-transform: uppercase;
      }
      .amount {
        color: rgba(255, 255, 255, 0.5);
      }
      .amount-active {
        color: #00FFA3;
      }
      .description {
        width: 447px;
        padding-right: 55px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        @media(max-width: 960px) {
          font-size: 10px;
          line-height: 13px;
        }
      }
    }
  }
</style>
