<template>
  <div class="recent-trades">
    <h3>последние торговые операции</h3>
    <div class="recent-trades-wrapper">
      <table class="recent-trades-table">
        <thead>
        <tr class="recent-trades-table_head">
          <th
            v-for="(item,i) in head"
            :key="i"
          >
            {{item}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,i) in data" :key="i" class="recent-trades-table_row">
          <td>{{ date(item.date) }} <span class="hour">{{ hour(item.date) }}</span></td>
          <td>{{item.entry}}</td>
          <td>{{item.exit}}</td>
          <td>{{item.fee}}</td>
          <td class="performance">{{item.performance}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  export default {
    name: 'RecentTrades',
    data: () => ({
      desktop: true,
      head: ['Date', 'ENTRY', 'EXIT', 'Fee', 'PERFORMANCE'],
      data: [
        {date: '10.10.2021 15:00:00', entry: '0.00001', exit: '0.00002', fee: '0.00000001', performance: '1%'},
        {date: '10.10.2021 15:00:00', entry: '0.00001', exit: '0.00002', fee: '0.00000001', performance: '1%'},
        {date: '10.10.2021 15:00:00', entry: '0.00001', exit: '0.00002', fee: '0.00000001', performance: '1%'},
        {date: '10.10.2021 15:00:00', entry: '0.00001', exit: '0.00002', fee: '0.00000001', performance: '1%'},
        {date: '10.10.2021 15:00:00', entry: '0.00001', exit: '0.00002', fee: '0.00000001', performance: '1%'},
        {date: '10.10.2021 15:00:00', entry: '0.00001', exit: '0.00002', fee: '0.00000001', performance: '1%'},
        {date: '10.10.2021 15:00:00', entry: '0.00001', exit: '0.00002', fee: '0.00000001', performance: '1%'},
        {date: '10.10.2021 15:00:00', entry: '0.00001', exit: '0.00002', fee: '0.00000001', performance: '1%'},
      ]
    }),
    methods: {
      date(val) {
        return moment(new Date(val)).format('DD.MM.YYYY')
      },
      hour(val) {
        return moment(new Date(val)).format('HH:mm')
      }
    }
  };
</script>

<style lang="scss" scoped>
  .recent-trades {
    font-family: 'Gilroy';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
    margin: 70px auto 60px;
    padding-top: 70px;

    @media(max-width: 960px)  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 54px auto 50px;
      padding-top: 0;
    }


    @media(max-width: 550px)  {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }


    h3{
      margin-bottom: 41px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;

      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #FFFFFF;
      @media(max-width: 960px) {
        width: 40%;
        font-weight: bold;
        font-size: 26px;
        line-height: 40px;
      }

      /*@media(max-width: 550px) {*/
      /*  margin-bottom: 75px;*/
      /*  margin-top: 10px;*/
      /*}*/
    }

    &-wrapper {
      @media(max-width: 1160px) {
        overflow-x: scroll;
      }
    }
    &-table {
      width: 1160px;
      border-collapse:separate;
      border-spacing:0 4px;
      @media(max-width: 1160px) {
        overflow-x: scroll;
        margin: 0 auto;
      }


      &_head {
        height: 60px;
        background: #222930;
        text-transform: uppercase;
        @media(max-width: 550px) {
          height: 30px;
        }
        th {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          /* white */

          color: #FFFFFF;
          @media(max-width: 960px) {
            width: 18%;
            font-size: 12px;
            line-height: 18px;
          }
        }
        th:first-child {
          padding-left: 25px;
          width: 25%;
          @media(max-width: 960px) {
            /*width: 28%;*/
          }
        }
        th:last-child {
          border-radius: 5px 5px 0px 0px;
        }
      }
      &_row {
        height: 64px;
        padding: 0 40px;
        background: #232540;
        @media(max-width: 550px) {
          height: 60px;
        }

        td {
          background: #222930;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          @media(max-width: 960px) {
            font-size: 12px;
            line-height: 18px;
          }
        }
        td:first-child {
          padding-left: 25px;
        }

        td:last-child {

        }
      }
      .hour {
        margin-left: 24px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #58626C;
        @media(max-width: 960px) {
          font-size: 12px;
          line-height: 18px;
        }

      }
      .performance {
        width: 190px;
      }
    }
  }
</style>
