<template>
  <div class="subheader-wrap">
    <div class="subheader">
      <div
        v-for="(item,i) in items"
        :key="i"
        class="subheader-item"
      >
        {{item.name}}
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data: () => ({
      items: [
        {name: 'Mission'},
        {name: 'Team'},
        {name: 'Legal'},
        {name: 'For Partners'},
        {name: 'Press'},
      ]
    }),
  }
</script>

<style lang="scss" scoped>
  .subheader {
    display: flex;
    justify-content: space-between;
    width: 40%;
    min-width: 450px;
    margin-right: 70px;

    @media(max-width: 1280px) {
      width: 50%;
    }

    &-wrap {
      width: 100%;
      height: 39px;
      background-color: #0E0E1B;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &-item {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

</style>
