<template>
  <div class="transactions">
    <h3>история транзакций</h3>
    <div>
      <table class="transactions-table">
        <thead>
        <tr class="transactions-table_head">
          <th
            v-for="(item,i) in head"
            :key="i"
          >
            {{item}}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,i) in data" :key="i" class="transactions-table_row">
          <td class="date">{{ date(item.date) }} <span class="hour">{{ hour(item.date) }}</span></td>
          <td class="currency">{{item.currency}}</td>
          <td :class="{'amount': item.amount < 0, 'amount-active': item.amount > 0}">{{item.amount}}</td>
          <td class="status">{{item.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  export default {
    data: () => ({
      head: ['Дата', 'ВАЛЮТА', 'СУММА', 'СТАТУС'],
      data: [
        {date: '10.10.2021 15:00:00', currency: 'btc', amount: '+0.00002', status: 'В ожидании'},
        {date: '10.10.2021 15:00:00', currency: 'btc', amount: '+0.00002', status: 'В ожидании'},
        {date: '10.10.2021 15:00:00', currency: 'btc', amount: '+0.00002', status: 'В ожидании'},
        {date: '10.10.2021 15:00:00', currency: 'btc', amount: '+0.00002', status: 'В ожидании'},
      ]
    }),
    methods: {
      date(val) {
        return moment(new Date(val)).format('DD.MM.YYYY')
      },
      hour(val) {
        return moment(new Date(val)).format('HH:mm')
      }
    }
  };
</script>

<style lang="scss" scoped>
  .transactions {
    font-family: 'Roboto Slab';
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    width: 960px;
    margin: 0 auto 60px;
    @media(max-width: 1440px) {
      /*width: 88%;*/
    }
    h3{
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      text-transform: uppercase;
      margin-top: 54px;
      margin-bottom: 30px;
    }
    &-table {
      width: 100%;
      border-collapse:separate;
      border-spacing:0 4px;
      &_head {
        height: 60px;
        background: #2B2F50;
        text-transform: uppercase;
        th {
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
        }
        th:first-child {
          padding-left: 25px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        th:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      &_row {
        height: 60px;
        padding: 0 40px;
        background: #232540;
        td {
          font-weight: normal;
          font-size: 20px;
          line-height: 26px;
        }
        td:first-child {
          padding-left: 25px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        td:nth-child(4n) {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .hour {
        color: rgba(255, 255, 255, 0.5);
        margin-left: 24px;
      }
      .currency {
        text-transform: uppercase;
      }
      .amount {
        color: rgba(255, 255, 255, 0.5);
      }
      .amount-active {
        color: #00FFA3;
      }
      .status {
        padding-right: 55px;
      }
    }
  }
</style>
