<template>
  <div class="binary-tree-wrap">
    <div class="binary-tree-head">
      <div class="left-head">
        <span class="left-text">54 312 elv</span>
      </div>
      <div class="head">
        <span class="user-status">
            <img src="/images/status.png"/>
            <span class="rom">&#8544;</span>
        </span>
        <span class="user-name">Makarenko</span>
        <div class="user-role">
          <span class="name">менеджер</span>
          <span class="value">250 / 1000</span>
        </div>
        <div class="percent-wrap">
          <div class="percent-bar">
          </div>
        </div>
      </div>
      <div class="right-head">
        <span class="right-text">50 000 elv</span>
      </div>
    </div>
    <div class="binary-tree-layer">
      <div class="layer-item">
        <div class="left-item">
          <span class="left-text_child">1 312 elv</span>
        </div>
        <div class="layer">
        <span class="user-status">
            <img src="/images/status.png"/>
            <span class="rom">&#8544;</span>
        </span>
          <span class="user-name">Makarenko</span>
          <div class="user-role">
            <span class="name">менеджер</span>
            <span class="value">250 / 1000</span>
          </div>
          <div class="percent-wrap">
            <div class="percent-bar">
            </div>
          </div>
        </div>
        <div class="right-item">
          <span class="right-text_child">3 312 elv</span>
        </div>
      </div>
      <div class="layer-item">
        <div class="left-item">
          <span class="left-text_child">4 312 elv</span>
        </div>
        <div class="layer binar-right">
        <span class="user-status">
            <img src="/images/status.png"/>
            <span class="rom">&#8544;</span>
        </span>
          <span class="user-name">Makarenko</span>
          <div class="user-role">
            <span class="name">менеджер</span>
            <span class="value">250 / 1000</span>
          </div>
          <div class="percent-wrap">
            <div class="percent-bar">
            </div>
          </div>
        </div>
        <div class="right-item">
          <span class="right-text_child">54 312 elv</span>
        </div>
      </div>
    </div>
    <div class="binary-tree-childs">
      <div class="layer-item">
        <div class="layer">
        <span class="user-status">
            <img src="/images/status.png"/>
            <span class="rom">&#8544;</span>
        </span>
          <span class="user-name">Makarenko</span>
          <div class="user-role">
            <span class="name">менеджер</span>
            <span class="value">250 / 1000</span>
          </div>
          <div class="percent-wrap">
            <div class="percent-bar">
            </div>
          </div>
        </div>
        <div class="layer">
        <span class="user-status">
            <img src="/images/status.png"/>
            <span class="rom">&#8544;</span>
        </span>
          <span class="user-name">Makarenko</span>
          <div class="user-role">
            <span class="name">менеджер</span>
            <span class="value">250 / 1000</span>
          </div>
          <div class="percent-wrap">
            <div class="percent-bar">
            </div>
          </div>
        </div>
      </div>
      <div class="layer-item">
        <div class="layer binar-medium">
        <span class="user-status">
            <img src="/images/status.png"/>
            <span class="rom">&#8544;</span>
        </span>
          <span class="user-name">Makarenko</span>
          <div class="user-role">
            <span class="name">менеджер</span>
            <span class="value">250 / 1000</span>
          </div>
          <div class="percent-wrap">
            <div class="percent-bar">
            </div>
          </div>
        </div>
        <div class="layer binar-right">
        <span class="user-status">
            <img src="/images/status.png"/>
            <span class="rom">&#8544;</span>
        </span>
          <span class="user-name">Makarenko</span>
          <div class="user-role">
            <span class="name">менеджер</span>
            <span class="value">250 / 1000</span>
          </div>
          <div class="percent-wrap">
            <div class="percent-bar">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {

  }
</script>

<style lang="scss" scoped>
  .binary-tree-wrap {
    font-family: 'Roboto Slab';

    .binary-tree-head {
      display: flex;
      justify-content: center;
      @media(max-width: 960px) {
        margin-top: 47px;
      }
      .left-head {
        position: relative;
        margin-top: 115px;
        width: 150px;
        height: 145px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-top-left-radius: 20px;
        border-right: none;
        border-bottom: none;
        @media(max-width: 960px) {
          margin-top: 70px;
        }
        .left-text {
          @media(max-width: 960px) {
            margin-top: 70px;
            position: absolute;
            width: 50px;
            @media(max-width: 960px) {
              margin-top: 10px;
            }
          }
        }

        @media(max-width: 960px) {
          width: 75px;
          height: 116px;

        }
        @media(max-width: 550px) {
          width: 25px;
          height: 116px;

        }
      }
      .right-head {
        position: relative;
        margin-top: 115px;
        width: 150px;
        height: 145px;
        border: 2px solid #FFFFFF;
        border-top-right-radius: 20px;
        border-left: none;
        border-bottom: none;
        @media(max-width: 960px) {
          margin-top: 70px;
        }
        .right-text {
          @media(max-width: 960px) {
            margin-top: 10px;
            position: absolute;
            width: 100px;
          }
        }

        @media(max-width: 960px) {
          width: 75px;
          height: 116px;

        }
        @media(max-width: 550px) {
          width: 25px;
          height: 116px;

        }
      }
      .head {
        width: 240px;
        height: 223px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(230.79deg, rgba(173, 140, 22, 0.18) 3.19%, rgba(255, 255, 255, 0) 98.21%), #242844;
        border: 2px solid #AD8C16;
        border-radius: 20px;

        @media(max-width: 960px) {
          width: 135px;
          height: 149px;
        }
        .user-status {
          position: relative;
          img {
            @media(max-width: 960px) {
              margin-top: 15px;
              width: 42px;
              height: 42px;
              margin-bottom: 10px;
            }
          }
          .rom {
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            line-height: 40px;
            text-transform: uppercase;
            @media(max-width: 960px) {
              font-size: 16px;
              line-height: 21px;
            }
          }
        }
        .user-name {
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-top: -10px;
          @media(max-width: 960px) {
            font-size: 14px;
            line-height: 18px;
          }
        }
        .user-role {
          width: 200px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: uppercase;
          font-weight: normal;
          color: #ffffff;
          margin-top: 30px;
          margin-bottom: 14px;
          @media(max-width: 960px) {
            margin-top: 5px;
            flex-direction: column;
            justify-content: flex-start;
          }
          .name {
            font-size: 14px;
            line-height: 18px;
            @media(max-width: 960px) {
              font-size: 10px;
              line-height: 13px;
            }
          }
          .value {
            font-size: 11px;
            line-height: 15px;
            @media(max-width: 960px) {
              font-size: 10px;
              line-height: 13px;
            }
          }
        }
        .percent-wrap {
          width: 200px;
          height: 10px;
          background: #0f906e;
          border-radius: 10px;
          margin-bottom: 24px;
          @media(max-width: 960px) {
            width: 100px;
            height: 10px;
          }
          .percent-bar {
            width: 45%;
            height: 10px;
            background: #00FFA3;
            border-radius: 10px;
          }
        }
      }
    }

    .binary-tree-layer, .binary-tree-childs {
      display: flex;
      justify-content: space-between;
      width: 776px;
      margin: 0 auto;
      @media(max-width: 960px) {
        width: 398px;
      }
      @media(max-width: 550px) {
        width: 298px;
      }
      .layer-item {
        display: flex;
        justify-content: center;

      }
      .left-item {
        position: relative;
        margin-top: 75px;
        width: 33px;
        height: 145px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-top-left-radius: 20px;
        border-right: none;
        border-bottom: none;
        @media(max-width: 960px) {
          display: none;
        }
      }
      .right-item {
        position: relative;
        margin-top: 75px;
        width: 33px;
        height: 145px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-top-right-radius: 20px;
        border-left: none;
        border-bottom: none;
        @media(max-width: 960px) {
          display: none;
        }
      }
      .layer {
        width: 165px;
        height: 153px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(230.79deg, rgba(255, 255, 253, 0.18) 3.19%, rgba(255, 255, 255, 0) 98.21%), #242844;
        opacity: 0.3;
        border: 2px solid #DBD7CA;
        border-radius: 20px;

        @media(max-width: 960px) {
          width: 115px;
          height: 117px;
        }
        .user-status {
          margin-top: 10px;
          position: relative;
          img {
            width: 60px;
            @media(max-width: 960px) {
              margin-top: 15px;
              width: 35px;
            }
          }
          .rom {
            position: absolute;
            top: 42%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            line-height: 26px;
            text-transform: uppercase;
            @media(max-width: 960px) {
              font-size: 16px;
              line-height: 21px;
              margin-top: 7px;
            }
          }
        }
        .user-name {
          font-weight: bold;
          font-size: 14px;
          line-height: 18px;
          text-transform: uppercase;
          color: #FFFFFF;
          @media(max-width: 960px) {
            font-size: 10px;
            line-height: 13px;
          }
        }
        .user-role {
          width: 130px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-transform: uppercase;
          font-weight: normal;
          color: #ffffff;
          margin-top: 17px;
          margin-bottom: 7px;
          @media(max-width: 960px) {
            margin-top: 5px;
            flex-direction: column;
          }
          .name, .value {
            font-size: 9px;
            line-height: 12px;
          }
        }
        .percent-wrap {
          width: 130px;
          height: 6px;
          background: #0f906e;
          border-radius: 10px;
          margin-bottom: 29px;
          @media(max-width: 960px) {
            margin-bottom: 40px;
            width: 70px;
            height: 7px;
          }
          .percent-bar {
            width: 45%;
            height: 6px;
            background: #00FFA3;
            border-radius: 10px;
          }
        }
      }
      .binar-right {
        opacity: 1;
        .percent-wrap {
          @media(max-width: 960px) {
            width: 70px;
            height: 7px;
          }
        }
      }
    }

    .binary-tree-childs {
      /*width: 69%;*/
      width: 932px;
      @media(max-width: 960px) {
        display: none;
      }
      .layer-item {
        /*width: 42%;*/
        width: 391px;
        justify-content: space-between;
      }
      .binar-medium {
        opacity: 0.5;
      }
    }
    .left-text, .right-text {
      position: absolute;
      top: -40px;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      color: #FFFFFF;
      @media(max-width: 960px) {
        font-size: 10px;
        line-height: 13px;
      }
    }
    .left-text {
      opacity: 0.3;
      right: 15px;
    }
    .right-text {
      left: 15px;
      @media(max-width: 960px) {
        left: 10px;
      }
    }
    .left-text_child, .right-text_child {
      width: 100px;
      position: absolute;
      top: -30px;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    .left-text_child {
      opacity: 0.5;
      right: 15px;
      text-align: right;
      @media(max-width: 960px) {
        right: 10px;
      }
    }
    .right-text_child {
      left: 15px;
      text-align: left;
    }
  }
</style>
