<template>
  <div class="what-block_wrap">
    <img
      class="what-block_close"
      src="/images/close.svg"
      @click="$emit('close')"
    />
    <div class="what-block">
      <h1>Что такое контракт ?</h1>
      <p>Это условия, в зависимости от которых, пользователям ELVY открываются эксклюзивные условия для инвестирования и построения команды</p>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {

    }
  },
}
</script>

<style lang="scss" scoped>
.what-block {
  position: relative;
  padding: 60px 0 53px;
  /*width: 71%;*/
  width: 960px;
  margin: 0 auto 0;
  @media(max-width: 1440px) {
    /*width: 88%;*/
  }
  &_wrap {
    position: relative;
    background-color: #2D3151;
    color: #ffffff;
    font-family: 'Roboto Slab';
    /*margin-top: 50px;*/
  }
  &_close {
    position: absolute;
    right: 70px;
    top: 35px;
    cursor: pointer;
  }
  h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  p {
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
  }
}
</style>
