<template>
  <div class="balance-chart-line">
    <div class="chart-control_wrap">
      <div class="chart-control">
        <button
          v-for="tab in tabs"
          :key="tab.key"
          class="chart-control_item"
          :class="{'isActive': tab.active}"
          @click="tabSelect(tab)"
        >
          {{tab.name}}
        </button>
      </div>
    </div>
    <client-only>
      <div>
        <apexchart width="100%" :height="chartHeight" :options="options" :series="series"></apexchart>
      </div>
    </client-only>
  </div>
</template>

<script>
  export default {
    name: 'BalanceChartLine',
    data() {
      return {
        chartHeight: 400,
        tabs: [
          {key: 'week', name: 'за неделю', active: true},
          {key: 'month', name: 'за месяц', active: false},
          {key: 'twoMonth', name: 'за 2 месяца', active: false},
        ],
        balances: [
          {key: 'my', name: 'мой баланс', active: true},
          {key: 'history', name: 'история торгов', active: false},
        ],
        twoMonth: false,

        series: [{
          name: "Balance",
          data: [1, 3, 2, 5, 7, 4, 7, 5, 7, 8, 9, 12, 15, 3, 2, 5, 7, 4, 7, 5, 7, 8, 9, 12, 15]
        }],
        options: {
          chart: {
            height: 350,
            type: 'line',
            zoom: {
              enabled: false
            }
          },
          dataLabels: {
            enabled: false
          },
          colors: ['#00FFA3'],
          stroke: {
            curve: 'smooth',
          },
          grid: {
            show: true,
            borderColor: 'rgba(255,255,255,0.1)',
            strokeDashArray: 0,
            position: 'back',
            xaxis: {
              lines: {
                show: true
              }
            },
            yaxis: {
              lines: {
                show: false
              }
            },

          },
          xaxis: {
            categories: [],
            labels: {
              show: true,
            },
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            }
          },
          yaxis: {
            show: false,
            showAlways: false,
            showForNullSeries: false,
            labels: {
              show: true,
            }
          },
        },
      }
    },

    mounted() {
      window.addEventListener('resize', this.resizeHandler)
      this.resizeHandler()
    },

    beforeDestroy() {
      window.removeEventListener('resize', this.resizeHandler)
    },
    methods: {
      resizeHandler() {
        if(window.innerWidth <= 768){
          this.chartHeight = 200;
        } else if(window.innerWidth > 768){
          this.chartHeight = 400;
        }
      },
      tabSelect(tab) {
        const data = [...this.series]
        const options = {...this.options.xaxis}
        if (tab.key === 'twoMonth') {
          this.twoMonth = true
          data.map(el => {
            el.data = [10, 20, 45, 50, 49, 60, 40, 51, 30, 40, 45, 50, 49, 50, 40, 21, 40, 45, 50, 49, 60, 70, 31, 30, 40, 45, 50, 49, 60, 70, 9]
          })

        }
        if (tab.key === 'month') {
          this.twoMonth = false
          data.map(el => {
            el.data = [10, 20, 45, 50, 49, 60, 40, 51, 30, 40, 45, 50, 49, 50, 40, 21]
          })
        }
        this.series = [...data]
        this.tabs.map(tab => {
          tab.active = !tab.active
        })
      }
    }
  };
</script>

<style lang="scss" scoped>
  .balance-chart-line {
    width: 1160px;
    margin: 0 auto;
    background: #222930;
    @media(max-width: 960px) {
      width: 90%;
    }

    .chart-control {
      font-family: 'Roboto';
      display: flex;
      align-items: center;
      @media(max-width: 768px) {
        display: none;
      }

      &_wrap {
        display: flex;
        justify-content: flex-end;
        margin-top: -25px;
      }

      &_item {
        padding: 5px 10px;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #171D21;
        flex: none;
        order: 0;
        align-self: center;
        margin: 0px 10px;
      }

      .isActive {
        background:  #FFBB55;
      }
    }
  }
</style>
<style lang="scss">
  .balance-chart-line {
    .apexcharts-toolbar {
      display: none;
    }

    line {
      display: block !important;
    }
  }
</style>
