<template>
  <div class="fill">
    <p class="fill-head">Кошелек для пополнения</p>
    <div class="fill-body">
      <div id="link" class="link">14RkMCmXuhkB5H52cmnzgrJG1Ph3yLQ8P9 </div>
      <button class="copy" @click="copy">Copy</button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FillUp',
    data: () => ({

    }),
    methods: {
      copy() {
        let div =  document.querySelectorAll('.link')[0];
        let text = div.innerText;
        let textArea  = document.createElement('textarea');
        textArea.width  = "1px";
        textArea.height = "1px";
        textArea.background =  "transparents" ;
        textArea.value = text;
        document.body.append(textArea);
        textArea.select();
        document.execCommand('copy');   //No i18n
        document.body.removeChild(textArea);
      }
    }
  }
</script>

<style lang="scss" scoped>
.fill {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  &-head {
    margin-left: 25px;
    margin-bottom: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
  }
  &-body {
    display: flex;
    align-items: center;
    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 393px;
      height: 52px;
      padding: 0 20px;
      border: 2px solid #21C4F8;
      border-radius: 10px;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      color: #ffffff;
    }
    .copy {
      font-family: 'Roboto Slab';
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      color: #00FFA3;
      cursor: pointer;
      margin-left: 22px;
      outline: none;
      border: none;
      background: transparent;
    }
  }
}
</style>
