<template>
  <div class="bring">
    <div class="bring-left">
      <p>Кошелек для вывода</p>
      <input class="input-area" v-model="wallet" />
      <p>Сумма</p>
      <input class="input-area" v-model="amount" />
      <button class="get-btn">получить перевод</button>
    </div>
    <div class="bring-right">
      <p>Будет получено</p>
      <p class="value">0.12312312</p>
      <p>с учетом комиссии</p>
      <p class="value">0.12312312</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Bring',
    data: () => {
      return {
        wallet: '14RkMCmXuhkB5H52cmnzgrJG1Ph3yLQ8P9',
        amount: '0.12312312'
      }
    },
  }
</script>

<style lang="scss" scoped>
  .bring {
    color: #ffffff;
    display: flex;
    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      margin-bottom: 9px;
      margin-left: 25px;
    }
    &-left {
      display: flex;
      flex-direction: column;
      .input-area {
        background: transparent;
        color: #ffffff;
        width: 393px;
        height: 52px;
        border: 2px solid #21C4F8;
        border-radius: 10px;
        outline: none;
        padding: 0 25px;
        margin-bottom: 17px;
      }
      .get-btn {
        height: 52px;
        background: #FFE200;
        border: 2px solid #FFE200;
        border-radius: 10px;
        color: #000000;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;

      }
    }
    &-right {
      margin-left: 117px;
      display: flex;
      flex-direction: column;
      .value {
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 40px;
      }
    }

  }
</style>
