<template>
  <div>
<!--    <SubHeader />-->
    <Cryptocurrency />
    <div class="header-wrapper">
      <Header />
    </div>
    <Nuxt />
  </div>
</template>

<style lang="scss">
@import '~/assets/css/base.css';

/*.default {*/
/*  height: 100vh;*/
/*  background-color: #1B1B30;*/
/*  color: white;*/
/*}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.header-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222930;
}


</style>
<script>
  import SubHeader from "../components/SubHeader";
  import Cryptocurrency from "../components/Cryptocurrency";
  import Header from "../components/Header";
  export default {
    components: {Header, Cryptocurrency, SubHeader}
  }
</script>
