<template>
  <div class="contract-page">
    <div class="top-section">
      <transition name="fade">
        <WhatContractModal v-if="show" @close="close" />
      </transition>
      <div class="current-contract">
        <h2>Текущий контракт</h2>
        <div class="contract-wrap">
          <Contract class="contract" />
          <LimitContract />
        </div>
      </div>
    </div>

    <div class="select-block_wrap">
      <div class="select-block">
        <h2>Выбор контракта</h2>
        <div class="select-block_tabs">
          <div
            v-for="(tab,i) in tabs"
            :key="i"
            class="tab"
            :class="{'tab-active': tab.active}"
            @click="tabSelect(tab)"
          >
            {{tab.name}}
          </div>

        </div>
        <div class=""></div>
      </div>
      <div class="contract-type_wrap">
        <div class="contract-type">
          <div class="left-item">
            <h3 class="header1">инвестирование</h3>
            <p class="text">стратегия Bitcoin</p>
            <p>Торгуйте с лимитом до 20 000 USDT</p>
            <h3 class="header2">вознаграждение</h3>
            <div class="type-bottom-section">
              <div>
                <p class="text">лимиты</p>
                <p>до 100 ELV в сутки</p>
              </div>
              <div>
                <p class="text">вознаграждение ?</p>
                <p>Что тут ?</p>
              </div>
            </div>
          </div>
          <div class="right-item">
            <div class="status-box">
              <span class="user-status">
                <img src="/images/status.png"/>
                <span class="rom">&#8544;</span>
              </span>
              <span class="user-name">Makarenko</span>
              <span class="days">365 дней</span>
              <span class="crypto">250 usdt</span>
            </div>
            <div class="activate-btn">Активировать</div>
          </div>
        </div>
      </div>
    </div>

    <ComparativeTable />
  </div>

</template>

<script>
  import WhatContractModal from "../components/WhatContractModal";
  import Contract from "../components/Contract";
  import LimitContract from "../components/LimitContract";
  import ComparativeTable from "../components/ComparativeTable";

  export default {
    layout: 'default',
    components: {WhatContractModal, Contract, LimitContract, ComparativeTable},
    data: () => {
      return {
        show: true,
        tabs: [
          {name: 'Бронзовый', component: '', active: true},
          {name: 'Серебряный', component: '', active: false},
          {name: 'Золотой', component: '', active: false},
          {name: 'Платиновый', component: '', active: false},
          {name: 'Блек', component: '', active: false},
        ]
      }
    },
    methods: {
      close() {
        this.show = false
      },
      tabSelect(tab) {
        this.tabs.map(item => {
          if(item.name === tab.name) {
            item.active = true
          } else {
            item.active= false
          }

        })
      }
    }

  }
</script>

<style lang="scss" scoped>
.contract-page {
  color: #ffffff;
  .top-section {
    background-color: #1B1B30;
    padding-bottom: 64px;
    padding-top: 60px;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
  font-family: 'Roboto Slab';
  .current-contract {
    /*width: 71%;*/
    width: 960px;
    margin: 60px auto 0;
    @media(max-width: 1440px) {
      /*width: 88%;*/
    }
    h2 {
      font-weight: bold;
      font-size: 40px;
      line-height: 53px;
      text-transform: uppercase;
      margin-bottom: 28px;
    }
    .contract {
      width: 50%;
      &-wrap {
        display: flex;
      }
    }
  }
  .select-block {
    /*width: 71%;*/
    width: 960px;
    margin: 60px auto 40px;
    @media(max-width: 1440px) {
      /*width: 88%;*/
    }
    &_wrap {
      padding: 35px 0 40px;
    }
    h2 {
      font-weight: bold;
      font-size: 40px;
      line-height: 53px;
      text-transform: uppercase;
      margin-bottom: 38px;
    }
    &_tabs {
      display: flex;
      align-items: center;
      border-bottom: 2px solid transparent;
      .tab-active {
        border-bottom: 2px solid #00FFA3;
      }
      .tab {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        cursor: pointer;
        padding-bottom: 10px;
        margin-right: 54px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

  }
  .contract-type {
    /*width: 71%;*/
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media(max-width: 1440px) {
      /*width: 88%;*/
    }
    &_wrap {
      background: linear-gradient(230.79deg, rgba(173, 140, 22, 0.18) 3.19%, rgba(255, 255, 255, 0) 98.21%), #242844;
      padding: 50px 0;
      margin-bottom: 65px;
    }
    .left-item {
      h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
      }
      p {
        margin: 0;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
      }
      .header1 {
        margin-bottom: 39px;
      }
      .header2 {
        margin-top: 49px;
        margin-bottom: 46px;
      }
      .text {
        color: #777777;
        text-transform: uppercase;
        margin-bottom: 11px;
      }
      .type-bottom-section {
        display: flex;
        div {
          display: flex;
          flex-direction: column;
          &:last-child {
            margin-left: 95px;
          }
        }
      }
    }
    .right-item {
      display: flex;
      flex-direction: column;
      .status-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 50px 26px;
        background: linear-gradient(230.79deg, rgba(173, 140, 22, 0.18) 3.19%, rgba(255, 255, 255, 0) 98.21%), #242844;
        border: 2px solid #AD8C16;
        border-radius: 20px;
        .user-status {
          position: relative;
          .rom {
            position: absolute;
            top: 48%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            line-height: 40px;
            text-transform: uppercase;
          }
        }
        .user-name {
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-top: -10px;
        }
        .days {
          margin-top: 7px;
          margin-bottom: 17px;
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          text-transform: uppercase;
        }
        .crypto {
          font-weight: bold;
          font-size: 30px;
          line-height: 40px;
          text-transform: uppercase;
        }
      }
      .activate-btn {
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFE200;
        border: 2px solid #FFE200;
        border-radius: 10px;
        margin-top: 60px;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #000000;
        cursor: pointer;
      }
    }
  }
}
</style>
