<template>
  <div class="partner-page">
    <div class="sections-wrap">
      <div class="section1">
        <div class="rank-contract">
          <LimitContract />
<!--          <div class="user">-->
<!--            <h1 class="user-name">Makarenko</h1>-->
<!--            <span class="user-status">-->
<!--              <img src="/images/status.svg"/>-->
<!--              <span class="rom">2</span>-->
<!--            </span>-->
<!--          </div>-->
<!--          <div class="rank">-->
<!--            <span class="rank-name">ранг</span>-->
<!--            <span class="rank-value"  v-if="desktop">250/1000</span>-->
<!--          </div>-->
<!--          <div class="profession">-->
<!--            <div class="profession-couter">-->
<!--              <h2>менеджер</h2>-->
<!--              <span class="rank-value" v-if="!desktop">250/1000</span>-->
<!--            </div>-->
<!--            <div class="percent-wrap">-->
<!--              <div class="percent-bar">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <Contract class="contract" />

<!--          <div class="contract-box">-->
<!--            <div class="contract-box-row">-->
<!--              <span class="name">контракт</span>-->
<!--              <span class="value">500 USDT</span>-->
<!--            </div>-->
<!--            <div class="contract-box-row">-->
<!--              <div class="box-element">-->
<!--                <span class="circle"></span>-->
<!--                <span class="text bold-text">бронза</span>-->
<!--              </div>-->
<!--              <div class="control-button">управление</div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="contract-box section2-box2">
            <div class="contract-box-row">
              <span class="name">баланс</span>
              <span class="value"></span>
            </div>
            <div class="contract-box-row">
              <div class="box-element">
                <span class="circle"></span>
                <span class="text">123 123 elv</span>
              </div>
              <div class="control-button">управление</div>
            </div>
          </div>
        </div>
        <client-only>
          <div class="chart">
            <div class="chart-txt">
              <span class="txt">использование бинара</span>
            </div>
            <ChartDonut  class="chartDonut"/>
            <div class="section2">
              <div class="contract-box section2-box">
                <div class="contract-box-row">
                  <span class="name">реферальная ссылка</span>
                </div>
                <div class="contract-box-row">
                  <a href="https://elvy.tech?ref=makarenko" target="_blankss" class="link">https://elvy.tech?ref=makarenko</a>
                  <div class="copy" @click="copy">copy</div>
                </div>
              </div>
            </div>
          </div>
        </client-only>
      </div>
      <div class="section3">
        <div
          v-for="(item,i) in data"
          :key="i"
          class="section3-column"
        >
          <span class="section3-column_name">{{item.name}}</span>
          <div class="box-element">
            <span class="circle"></span>
            <span class="text">{{item.value}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="partner-description_wrap">
      <div class="partner-description">
        <PartnerAccruals />
        <PartnerTransactions />
        <Footer />
      </div>
    </div>
  </div>

</template>

<script>
import PartnerAccruals from "../components/PartnerAccruals";
import PartnerTransactions from "../components/PartnerTransactions";
import Footer from "../components/Footer";
import Contract from "../components/Contract";
import LimitContract from "~/components/LimitContract";
export default {
  layout: 'default',
  components: {LimitContract, Footer, PartnerTransactions, PartnerAccruals, Contract},
  data: () => ({
    desktop: true,
    data: [
      {name: 'Бинар', value: 'активен'},
      {name: 'Групповой объем', value: '2500 ELV'},
      {name: 'контрактов', value: '43 шт'},
      {name: 'команда', value: '3 чел.'}
    ]
  }),

  mounted() {
    window.addEventListener('resize', this.resizeHandler)
    this.resizeHandler()
  },


  beforeDestroy() {
    window.removeEventListener('resize', this.resizeHandler)
  },

  methods: {
    copy() {
      let div =  document.querySelectorAll('.link')[0];
      let text = div.innerText;
      let textArea  = document.createElement('textarea');
      textArea.width  = "1px";
      textArea.height = "1px";
      textArea.background =  "transparents" ;
      textArea.value = text;
      document.body.append(textArea);
      textArea.select();
      document.execCommand('copy');   //No i18n
      document.body.removeChild(textArea);
    },
    resizeHandler() {
      if(window.innerWidth <= 550) {
        this.desktop = false
      } else {
        this.desktop = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.partner-page {
  background-color: #171d21;
  .sections-wrap {
    width: 960px;
    margin: 0 auto;
    @media(max-width: 960px) {
      width: 100%;
    }

  }

  .partner-description {
    &_wrap {
      padding-bottom: 75px;
      position: relative;
      @media(max-width: 550px) {
        padding-bottom: 40px;
      }
    }

    /*width: 71%;*/
    width: 960px;
    margin: 65px auto 0;
    padding-top: 67px;
    @media(max-width: 960px) {
      width: 100%;
    }
    @media(max-width: 550px) {
      padding-top: 54px ;
      margin: 0 auto;
    }

  }

  .section1 {
    display: flex;
    justify-content: space-between;
    /*margin-top: 50px;*/

    @media(max-width: 960px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .rank-contract {
      display: flex;
      flex-direction: column;
      width: 49%;
      @media(max-width: 768px) {
        width: 80%;
      }

      @media(max-width: 550px) {
        width: 90%;
      }

      .user, .rank, .contract, .profession {
        display: flex;
        justify-content: space-between;
      }

      .profession {
        @media(max-width: 550px) {
          display: block;
        }

        .profession-couter {
          @media(max-width:550px) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 19px;
          }
        }

        h2 {
          @media(max-width: 550px) {
            margin-bottom: 0;
          }
        }
      }

      .user {
        align-items: center;
        color: #FFFFFF;

        &-status {
          position: relative;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: #222930;

          img {
            position: absolute;
            top: 61%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media(max-width: 550px) {
              width: 71px;
            }
          }
        }
      }

      .rom {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: 32px;
        line-height: 39px;
        text-transform: uppercase;
        color: #75f4c1;
        @media(max-width: 550px) {
          font-size: 20px;
          line-height: 24px;
        }
      }

      .user-name {
        font-family: 'Gilroy';
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
        @media(max-width: 550px) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      .rank {
        margin-top: 19px;
        margin-bottom: 10px;
        @media(max-width: 550px) {
          margin-top: 5px;
        }

        &-name {
          font-family: 'Roboto Slab';
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.5);

          @media(max-width: 550px) {
            font-size: 14px;
            line-height: 18px;
          }
        }

        &-value {
          font-family: 'Roboto Slab';
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          text-transform: uppercase;
          color: #FFFFFF;
          @media(max-width: 550px) {
            font-size: 16px;
            line-height: 21px;
          }
        }
      }

      .profession {
        align-items: center;
        margin-bottom: 26px;
        @media(max-width: 550px) {
          margin-bottom: 33px;
        }

        h2 {
          font-family: 'Roboto Slab';
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-right: 17px;
          @media(max-width: 550px) {
            font-size: 16px;
            line-height: 21px;
          }
        }

        .percent-wrap {
          width: 72%;
          height: 10px;
          background: #0f906e;
          border-radius: 10px;
          @media(max-width: 550px) {
            width: 100%;
          }
          .percent-bar {
            width: 25%;
            height: 10px;
            background: #00FFA3;
            border-radius: 10px;
          }
        }
      }
      .contract {
        width: 90%;

        @media(max-width: 960px) {
          width: 80%;
          margin-top: 40px;
          /*height: 85px;*/
        }
      }
    }
  }

  .chart {
    width: 49%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    @media(max-width: 960px) {
      margin-left: 0px;
    }

    @media(max-width: 768px) {
      width: 80%;
    }

    @media(max-width: 550px) {
      width: 90%;
    }

    &-txt {
      margin-bottom: 15px;
      padding-top: 30px;
      width: 100%;
      @media(max-width: 550px) {
        padding-top: 35px;
      }

      .txt {
        font-family: 'Roboto Slab';
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        @media(max-width: 550px) {
          margin-top: 35px;
          font-size: 16px;
          line-height: 21px;
        }
      }
    }

  }

  .chartDonut {
    display: flex;
    justify-content: center;
    @media(max-width: 550px) {
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }

  .contract-box {

    width: 100%;
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    //height: 106px;
    //background: linear-gradient(267.61deg, rgba(173, 140, 22, 0.18) 1.85%, rgba(255, 255, 255, 0) 101.38%), #242844;
    //border: 2px solid #AD8C16;
    //box-sizing: border-box;
    //border-radius: 20px;
    //@media(max-width: 550px) {
    //  height: 85px;
    //}

    &-row {
      width: 90%;
      display: flex;
      justify-content: space-between;
      margin: 0 37px 6px;


      .name {
        font-family: 'Roboto Slab';
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.5);
        @media(max-width: 550px) {
          font-size: 14px;
          line-height: 18px;
        }
      }

      .value {
        font-family: 'Roboto Slab';
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      .control-button {
        height: 34px;
        padding: 7px 14px;
        background: #FFE200;
        border: 2px solid #FFE200;
        border-radius: 10px;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: #000000;
        cursor: pointer;
      }
    }
  }

  .section2 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    &-box {
      width: 100%;
      /*margin-right: 34px;*/
      background: #242844;
      border-radius: 20px;
      border: none;
    }

    &-box2 {
      margin-top: 42px;
      width: 100%;
      /*margin-right: 34px;*/
      background: #242844;
      border-radius: 20px;
      border: none;
      @media(max-width: 550px) {
        margin-top: 18px;
      }
    }

    .link {
      font-family: 'Roboto Slab';
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      color: #FFFFFF;
        @media(max-width: 550px) {
          font-size: 14px;
          line-height: 18px;
        }

    }

    .copy {
      font-family: 'Roboto Slab';
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      color: #00FFA3;
      cursor: pointer;
      @media(max-width: 550px) {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }

  .box-element {
    display: flex;
    align-items: center;

    .circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #00FFA3;
    }

    .bold-text {
      font-weight: bold;
    }

    .text {
      font-family: 'Roboto Slab';
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-left: 9px;
    }
  }

  .section3 {
    margin-top: 22px;
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
    margin-right: 109px;


    @media(max-width: 960px) {
      width: 45%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    @media(max-width: 768px) {
      width: 75%;
      margin: 0 auto;
    }

    @media(max-width: 550px) {
      width: 85%;
      margin: 0 auto;
    }

    &-column {
      display: flex;
      flex-direction: column;
      @media(max-width: 960px) {
        width: 50%;
        font-size: 14px;
        line-height: 18px;
        margin-top: 22px;
        /*flex-wrap: wrap;*/
      }

      .text{
        @media(max-width: 960px) {
          font-size: 14px;
          line-height: 18px;
        }
      }

      &_name {
        font-family: 'Roboto Slab';
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #777777;
        margin-bottom: 13px;
        @media(max-width: 960px) {
          font-size: 14px;
          line-height: 18px;
        }


      }
    }
  }
}
</style>
