<template>
  <div class="login">
    <div class="login-page">
      <div class="form-wrapper">
        <h1>авторизация</h1>
        <form class="login-form">
          <input class="user-data-input"  v-model="form.username" placeholder="Ваш никнейм"/>
          <input type="password" class="user-data-input" v-model="form.password" placeholder="Пароль"/>
          <div class="checkbox-conf">
            <input class="input-checkbox" type="checkbox" id="pass" v-model="form.change"/>
            <label for="pass">Remember me</label>
          </div>
          <button class="login-button" @click.prevent="login">авторизоваться</button>
        </form>
      </div>
    </div>
    <Footer class="login-footer"/>
  </div>
</template>

<script>
  import Footer from "../components/Footer";
  import Header from "../components/Header";
  import  { mapActions } from "vuex";
  export default {
    layout: 'default',
    components: {Footer, Header},
    data() {
      return {
        form: {
          username: '',
          password: '',
          change: false,
        }
      }
    },
    methods: {
      ...mapActions('auth', ['signIn']),
     async login() {
        const SignIn = await this.$store.dispatch('auth/signIn',this.form);
        if(SignIn.data.data.api_key) {
          this.$router.push('/')
        }

      }
    }
  }
</script>

<style lang="scss" scoped>
  .login {
    width: 100%;
    height: 100vh;
    background: #171d21;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .login-page {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ffffff;
      margin-top: 80px;
    }

    .form-wrapper  {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media(max-width: 960px) {
        width: 50%;
      }
      @media(max-width: 550px) {
        width: 90%;
      }
    }

    .login-form {
      margin-top: 60px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      background: #222930;
      border-radius: 5px;
      padding-top: 20px;
      padding-bottom: 30px;
      @media(max-width: 960px) {
        margin-top: 20px;
        width: 90%;
      }
    }

    h1 {
      margin-bottom: 20px;
      text-align: center;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 50px;
      line-height: 59px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #FFFFFF;
      @media(max-width: 960px) {
        font-size: 26px;
        line-height: 40px;
      }
    }

    .user-data-input {
      width: 80%;
      height: 60px;
      padding: 10px 21px;
      background: #171D21;
      border: 1px solid #171D21;
      box-sizing: border-box;
      border-radius: 5px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      outline: none;
      margin-top: 10px;
      @media(max-width: 960px) {
        font-size: 18px;
        line-height: 21px;
        height: 50px;
      }
    }

    ::placeholder {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      color: #FFFFFF;
      font-size: 16px;
    }

    ::-webkit-input-placeholder { /* Edge */
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      color: #FFFFFF;
      font-size: 16px;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      color: #FFFFFF;
      font-size: 16px;
    }

    .input-checkbox {
      margin-left: 10%;
    }

    input[type=checkbox] {
      position: relative;
      cursor: pointer;
    }
    input[type=checkbox]:before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      top: -5%;
      left: -10%;
      background: #171D21;
      border-radius: 5px;
    }
    input[type=checkbox]:checked:before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      top: -5%;
      left: -10%;
      background: #171D21;
    }
    input[type=checkbox]:checked:after {
      content: "";
      display: block;
      width: 10px;
      height: 15px;
      border: solid #00FFA3;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 40%;
      left: 60%;
    }

    label {
      width: 60%;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      margin-left: 30px;
      color: #58626C;
    }

    .login-button {
      width: 80%;
      height: 52px;
      background: #FFBB55;
      border-radius: 5px;
      box-sizing: border-box;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #171D21;
      flex: none;
      order: 0;
      align-self: center;
      border: 1px solid #FFBB55;

    }

    .login-footer {
      width: 100%;
      margin-top: 82px;
      margin-bottom: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media(max-width: 960px) {
        margin-top: 49px;
        margin-bottom: 22px;
        align-items: flex-start;
      }
    }

    .checkbox-conf {
      width: 100%;
      margin: 20px 0px 60px 0px;
      display: flex;
      @media(max-width: 960px) {
        margin: 20px 0px 30px 0px;
      }
    }
  }

</style>
