<template>
  <div class="register">
    <div class="register-page">
      <div class="form-wrapper">
        <div>
          <h1>регистрация</h1>
        </div>
        <form class="register-form" @submit.prevent="register">
          <p class="personal-data">персональные данные</p>
          <input class="user-data-input" v-model="form.name" @change="" placeholder="Ваше имя" />
          <input class="user-data-input" v-model="form.surname" placeholder="Ваша фамилия" />
          <select v-model="form.gender">
            <option value="" selected disabled hidden>Пол</option>
            <option  v-for="option in options.gender" :key="option.index" >{{option}}</option>
          </select>
          <select v-model="id">
            <option value="" selected disabled hidden >Страна</option>
            <option  v-for="option in countries" :key="option.country_id" :value="option.country_id"  >{{option.title_ru}}</option>
          </select>
          <select v-model="form.city">
            <option value="" selected disabled hidden >Город</option>
            <option  v-for="option in cityes" :key="option.index">{{option.title_ru}}</option>
          </select>
          <p class="data-enter">данные для входа</p>
          <input class="user-data-input" v-model="form.username" placeholder="Ваш никнейм" />
          <div class="text"><span>Будет виден другим пользователям</span></div>
          <input type="email" class="user-data-input"  v-model="form.email" placeholder="Адрес электронной почты" />
          <input type="password" class="user-data-input" v-model="form.password" placeholder="Пароль" />
          <input type="password" class="user-data-input" v-model="form.confPassword" placeholder="Повторите пароль" />
          <button class="register-button" @click.prevent="register">Зарегистрироваться</button>
          <div class="checkbox-conf">
            <input class="input-checkbox" type="checkbox" id="pass" v-model="form.change"  />
            <label for="pass">Нажимая кнопку «Зарегистрироваться»‎,
              я даю согласие на обработку своих данных и подтверждаю
              что ознакомлен с политикой конфиденциальности
            </label>
          </div>
        </form>
      </div>
      <Footer class="register-footer"/>
    </div>
  </div>
</template>

<script>
  import  { mapActions } from "vuex";
  import Footer from "../components/Footer";
  import {required, email, minLength} from 'vuelidate/lib/validators';
  export default {
    layout: 'default',
    components: {Footer},

    data() {
      return {
        countries :[],
        cityes :[],
        id: '',
        countryId : '',
        form: {
          name: '',
          surname: '',
          gender: '',
          country: '',
          city: '',
          username: '',
          email: '',
          password: '',
          confPassword: '',
          change: false,
          ip: '',
          user_agent: '',
        },
        options: {
          country: ['Армения', 'Россия'],
          city:['Ереван', 'Москва'],
          gender: ['Мужской', 'Женский'],

        }
      }
    },
    watch: {
      'id': 'getCityes',
    },
    validations: {
      form: {
        name: { required , minLength: minLength(1)},
        surname: { required , minLength: minLength(1)},
        gender: { required, minLength: minLength(1)},
        country: { required, minLength: minLength(1)},
        city: { required,minLength: minLength(1)},
        username: { required, minLength: minLength(1)},
        email: {required, email },
        password: { required, minLength: minLength(1)},
        confPassword: { required,minLength: minLength(1)},
      }
    },
    $v: {
      name: {
        "required": false,
        "minLength": true,
        "$invalid": true,
        "$dirty": false,
        "$error": false,
        "$pending": false,
        "$params": {
          "required": {
            "type": "required",
            "minLength": {
              "type": "minLength",
              "min": 1
            }
          },
        }

      },
      surname: {
        "required": false,
        "minLength": true,
        "$invalid": true,
        "$dirty": false,
        "$error": false,
        "$pending": false,
        "$params": {
          "required": {
            "type": "required",
            "minLength": {
              "type": "minLength",
              "min": 1
            }
          },
        }

      },
      gender: {
        "required": false,
        "minLength": true,
        "$invalid": true,
        "$dirty": false,
        "$error": false,
        "$pending": false,
        "$params": {
          "required": {
            "type": "required",
            "minLength": {
              "type": "minLength",
              "min": 1
            }
          },
        }
      },
      country: {
        "required": false,
        "minLength": true,
        "$invalid": true,
        "$dirty": false,
        "$error": false,
        "$pending": false,
        "$params": {
          "required": {
            "type": "required",
            "minLength": {
              "type": "minLength",
              "min": 1
            }
          },
        }
      },
      city: {
        "required": false,
        "minLength": true,
        "$invalid": true,
        "$dirty": false,
        "$error": false,
        "$pending": false,
        "$params": {
          "required": {
            "type": "required",
            "minLength": {
              "type": "minLength",
              "min": 1
            }
          },
        }
      },
      username: {
        "required": false,
        "minLength": true,
        "$invalid": true,
        "$dirty": false,
        "$error": false,
        "$pending": false,
        "$params": {
          "required": {
            "type": "required",
            "minLength": {
              "type": "minLength",
              "min": 1
            }
          },
        }

      },
      password: {
        "required": false,
        "minLength": true,
        "$invalid": true,
        "$dirty": false,
        "$error": false,
        "$pending": false,
        "$params": {
          "required": {
            "type": "required",
            "minLength": {
              "type": "minLength",
              "min": 1
            }
          },
        }

      },
      confPassword: {
        "required": false,
        "minLength": true,
        "$invalid": true,
        "$dirty": false,
        "$error": false,
        "$pending": false,
        "$params": {
          "required": {
            "type": "required",
            "minLength": {
              "type": "minLength",
              "min": 1
            }
          },
        }

      },
    },

    // computed: {
    //   ...mapGetters( 'auth',['USERIP']),
    // },
    async mounted() {
      this.form.user_agent = window.navigator.userAgent;
      const test = await this.$store.dispatch('auth/getUserIp')
      this.form.ip = test.data.ip;

      const Countries = await  this.$store.dispatch(('auth/getCoutries'))
      this.countries = Countries.data.data;

    },

    methods: {
      ...mapActions('auth', ['getUser', 'getUserIp', 'getCityes']),

        register() {
          this.$v.form.$touch();
          if (this.$v.form.$pending || this.$v.form.$error || this.form.confPassword !== this.form.password) {
            return;
          } else {
            this.$store.dispatch('auth/getUser', this.form).then((res) => {
              console.log(res,'res1')
              this.$router.push('/login')
            })
              .catch((err) => {
                console.log(err,'err1')
              })
            // this.$router.push('/login')
          }
        },
      async getCityes(id) {
          const Cityes = await this.$store.dispatch('auth/getCityes', id);
          this.cityes = Cityes.data.data;
          this.countries.map(country => {
            if(country.country_id === id) {
              this.form.country = country.title_ru;
            }
          } );

        }
      },
  }
</script>

<style lang="scss" scoped>

  .register {
    width: 100%;
    background: #171d21;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .register-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin-top: 80px;
    @media(max-width: 960px) {
      margin-top: 50px;
    }
  }

  .register-form {
    margin-top: 60px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #222930;
    border-radius: 5px;
    @media(max-width: 960px) {
      margin-top: 20px;
      width: 90%;
    }
  }

  h1 {
    text-align: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
    @media(max-width: 960px) {
      font-size: 26px;
      line-height: 40px;
    }
  }


  .user-data-input, select {
    width: 79%;
    height: 60px;
    padding: 10px 21px;
    background: #171D21;
    border: 1px solid #171D21;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    outline: none;
    margin-top: 10px;
    @media(max-width: 960px) {
      font-size: 18px;
      line-height: 21px;
      height: 50px;
    }
  }

  input[type=checkbox] {
    position: relative;
    cursor: pointer;
  }
  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5%;
    left: -10%;
    background: #171D21;
    border-radius: 5px;
  }
  input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -5%;
    left: -10%;
    background: #171D21;
  }
  input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 10px;
    height: 15px;
    border: solid #00FFA3;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 40%;
    left: 60%;
  }

  ::placeholder {
    font-family: 'Gilroy';
    line-height: 21px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
  }

  ::-webkit-input-placeholder { /* Edge */
    font-family: 'Gilroy';
    line-height: 21px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Gilroy';
    line-height: 21px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
  }

  select {
    -webkit-appearance: none;
    background-image: url("/images/Clickzone.svg");
    background-repeat: no-repeat;
    background-position: 98%;
    padding-right: 20px;
  }

  .input-checkbox {
    margin-left: 10%;
  }

  label {
    width: 60%;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-left: 30px;
    color: #58626C;
    @media(max-width: 550px) {
      font-size: 10px;
    }
  }

  .personal-data {
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media(max-width: 960px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .data-enter {
    margin: 41px 0px 12px 0px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media(max-width: 960px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  span {
    margin-left: 85px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #58626C;
  }

  .text {
    width: 100%;
    margin: 10px 0px;
  }

  .register-button {
    width: 79%;
    height: 52px;
    background: #FFBB55;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #171D21;
    flex: none;
    order: 0;
    align-self: center;
    margin-top: 20px;
    border: 1px solid #FFBB55;
  }

  .register-footer {
    width: 100%;
    margin-top: 82px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width: 960px) {
      margin-top: 49px;
      margin-bottom: 22px;
      align-items: flex-start;
    }
  }

  .checkbox-conf {
    width: 100%;
    margin: 20px 0px 60px 0px;
    display: flex;
    @media(max-width: 960px) {
      margin: 20px 0px 30px 0px;
    }
  }


</style>
