<template>
  <div class="strategy-page_wrap">
    <div class="modal-wrap">
      <FillModal @close="closeFillUpModal" v-if="showModal" />
    </div>
    <div class="strategy-page_header-wrap">
      <div class="strategy-page_header">
        <div class="name">
          <span class="arrow-left"><img src="/images/bg.svg" /></span>
          <span class="bit">bitcoin</span>
        </div>
        <div class="value">
          <div>
            <div class="positive-value"> <img src="/images/Vector.svg"/> +5%</div>
            <span class="demo">0.0002353 demo</span>
          </div>
          <span class="positive-value">+0.0004123</span>
        </div>
        <div class="buttons" v-if="true">
          <button class="points"><img src="/images/fripoints.svg" /> </button>
          <button class="fill-up" @click="showFillUpModal">пополнить</button>
        </div>
      </div>
    </div>
    <div class="strategy-page">
      <div class="strategy-page_chart">
        <div class="tab">
          <button
            v-for="(tab,i) in tabs"
            :key="i"
            class="tab-item"
            :class="{'tab-active': tab.active}"
            @click="tabSelect(tab)"
          >
            {{tab.name}}
          </button>

        </div>
        <component :is="currentComponent" />
<!--        <BalanceChartLine />-->
      </div>
      <div class="strategy-page_description-wrap">
        <div class="strategy-page_description">
          <div class="description-head">
            <span>Описание</span>
          </div>
          <h3>о продукте</h3>
          <p>Защити себя от резких движений рынка,
            диверсификация торговыми парами с разной зависимостью от цены биткоина,
            это то что вам даст возможность стабильного
          </p>
          <div class="description-row">
            <div
              v-for="(item, i) in description"
              :key="i"
              class="row-item"
            >
              <p class="name">{{item.name}}</p>
              <p>{{item.value}}</p>
            </div>
          </div>
          <h3>структура активов</h3>
          <div class="structure-chart">
            <client-only>
              <div>
                <apexchart :width="desktop" type="donut" :options="options" :series="series"></apexchart>
              </div>
            </client-only>
            <div class="chart-description_wrap">
              <div v-for="(item, i) in chartDescription" :key="i" class="chart-description">
                <span class="circle"></span>
                <span class="chart-text">{{item.text}}</span>
              </div>
            </div>
          </div>

          <div class="structure-row">
            <div
              v-for="(item, i) in structureDescription"
              :key="i"
              class="structure-row_item"
            >
              <p class="structure-row_item-name">{{item.name}}</p>
              <p class="text">{{item.text}}</p>
              <p>{{item.value}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="recent-trades_wrap">
        <RecentTrades />
      </div>
    </div>
    <Footer class="footerWrapper" />
  </div>
</template>

<script>
  import RecentTrades from "../components/RecentTrades";
  import BalanceChartLine from "../components/strategyCharts/BalanceChartLine";
  import HistoryChartLine from "../components/strategyCharts/HistoryChartLine";
  import FillModal from "../components/FillModal";
  import Footer from "../components/Footer";
  export default {
    layout: 'default',
    components: {RecentTrades, BalanceChartLine, FillModal, HistoryChartLine, Footer},
    data: () => ({
      tabs: [
        {name: 'мой баланс', component: 'HistoryChartLine', active: false},
        {name: 'история торгов', component: 'BalanceChartLine', active: true},
      ],
      currentComponent: BalanceChartLine,
      showModal: false,
      showButtons: false,
      desktop: 250,
      description: [
        {name: 'Базовая валюта', value: 'bitcoin (btc)'},
        {name: 'количество сделок', value: 'от 5 432 за год'},
        {name: 'рекомендуемый срок', value: 'от 60 дней'},
      ],
      structureDescription: [
        {name: 'VeChain (VET)', text: 'капитализация', value: '$229 766 093'},
        {name: 'Enjin Coin (ENJ)', text: 'капитализация', value: '$229 766 093'},
        {name: 'Zilliqa (ZIL)', text: 'капитализация', value: '$229 766 093'},
      ],
      chartDescription: [
        {text: 'BTC / XTZ'},
        {text: 'BTC / VET'},
        {text: 'BTC / ENJ'},
        {text: 'BTC / ZIL'},
      ],
      options: {
        labels: ['test1', 'test2'],
        chart: {
          type: 'donut',
          foreColor: '#ffffff'
        },
        legend: {
          show: false
        },
        stroke: {
          colors: ['transparent']
        },
        colors: ['#899cff', '#00ffa3'],
        plotOptions: {
          pie: {
            startAngle: -35,
            expandOnClick: false,
            donut: {
              size: '85%',
            },
          }
        },
        dataLabels: {
          enabled: false,
        }
      },
      series: [65, 35]
    }),

    mounted() {
      window.addEventListener('resize', this.resizeHandler)
      this.resizeHandler()
    },

    beforeDestroy() {
      window.removeEventListener('resize', this.resizeHandler)

    },
    methods: {
      resizeHandler() {
        if(window.innerWidth <= 960 && window.innerWidth > 550) {
          this.showButtons = true
          this.desktop = 250
        } else if(window.innerWidth > 960){
          this.showButtons = false
          this.desktop = 250
        } else if(window.innerWidth <= 550) {
          this.showButtons = true;
          this.desktop = 180
        } else if(window.innerWidth > 550) {
          this.desktop = 250
        }
      },
      showFillUpModal() {
        this.showModal = true
        document.querySelectorAll('.modal-wrap')[0].style.position = 'fixed'
      },
      closeFillUpModal() {
        this.showModal = false
        document.querySelectorAll('.modal-wrap')[0].style.position = 'static'
      },
      tabSelect(item) {
        this.currentComponent = item.component
        this.tabs.map(tab => { tab.active = !tab.active }  )
      },

    }
  }
</script>

<style lang="scss" scoped>
  .strategy-page {
    color: #ffffff;
    font-family: 'Roboto Slab';

    &_wrap {
      background: #171d21;
      .strategy-page {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .footerWrapper {
        margin-top: 139px;
        height: 169px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background: #171d21;
        border-radius: 5px;
        padding: 20px 0 30px 0;
        /*@media(max-width: 960px) {*/
        /*  margin-top: 0px;*/
        /*  padding: 0;*/
        /*  height: 143px;*/

        /*}*/
      }

      .modal-wrap {
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        z-index: 1;
      }
    }
    &_header {
      width: 1160px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media(max-width: 960px) {
        width: 90%;
        display: block;
        margin: 0 auto 0 26px;
      }
      &-wrap {
        height: 140px;
        background: #171d21;
        padding: 37px 0;
        margin-bottom: 52px;
        border-bottom: 1px solid #222930;
        @media(max-width: 960px) {
          height: 180px;
          padding: 0;
        }
        @media(max-width: 768px) {
          margin-bottom: 25px;
        }
      }
      .name {
        font-weight: bold;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        @media(max-width: 960px) {
          margin-top: 31px;
          font-size: 20px;
          line-height: 26px;
        }
        .arrow-left {
          margin-right: 12px;
          margin-bottom: 5px;
          cursor: pointer;
        }
        .bit {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 50px;
          line-height: 59px;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          color: #FFFFFF;
        }
      }
      .value {
        display: flex;
        flex-direction: column;
        @media(max-width: 960px) {
          margin-top: 19px;
          margin-left: 38px;
        }
        div {
          display: flex;
          align-items: flex-start;
        }
        .demo {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          /* white */

          color: #FFFFFF;
          @media(max-width: 960px) {
            font-size: 20px;
            line-height: 26px;
          }
        }
        .positive-value {
          font-weight: bold;
          font-size: 16px;
          line-height: 21px;
          text-transform: uppercase;
          color: #00FFA3;
          display: flex;
          align-items: center;
          img {
            margin-left: 2px;
          }
        }
      }
      .buttons {
        .fill-up {
          height: 52px;
          padding: 0 25px;
          background:  #FFBB55;
          border-radius: 10px;
          font-weight: bold;
          font-size: 16px;
          line-height: 21px;
          text-transform: uppercase;
          color: #000000;
          @media(max-width: 960px) {
            padding: 0 13px;
            margin-top: 32px;
            margin-bottom: 25px;
            height: 24px;
            font-size: 14px;
            line-height: 16px;
          }
        }
        @media(max-width:960px) {
          margin-left: 35px;
        }
        button {
          outline: none;
        }
        .points {
          background-color: transparent;
          color: #ffffff;
          text-transform: uppercase;
          border: none;
          @media(max-width: 960px) {
            padding: 0 13px;
            margin-top: 32px;
            margin-bottom: 14px;
            height: 24px;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    &_description {
      width: 1160px;
      margin: 0 auto;
      @media(max-width: 960px) {
        width: 84%;
      }
      &-wrap {
        width: 1160px;
        padding: 48px 0 69px;
        @media(max-width: 550px) {
          padding: 25px 0 22px;
        }
      }
      .description-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        align-items: center;
        @media(max-width: 550px) {
          margin-bottom: 27px;
        }
        span {
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          text-transform: uppercase;
          padding-bottom: 10px;
          border-bottom: 2px solid #00FFA3;
          @media(max-width: 550px) {
            padding-bottom: 6px;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      h3 {
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 18px;
        @media(max-width: 960px) {
          font-size: 20px;
          line-height: 26px;
        }
        @media(max-width: 550px) {
          margin-bottom: 15px;
        }
      }
      p {
        width: 50%;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 56px;
        @media(max-width: 960px) {
          width: 100%;
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 34px;
        }
        /*@media(max-width: 550px) {*/
        /*  font-size: 14px;*/
        /*  line-height: 18px;*/
        /*}*/
      }
      .description-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 74px;
        @media(max-width: 960px) {
          display: block;
        }
        @media(max-width: 550px) {
          margin-bottom: 43px;
        }
        .row-item {
          display: flex;
          flex-direction: column;
          @media(max-width: 960px) {
            margin-bottom: 24px;
          }
          p {
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            text-transform: uppercase;
            margin: 0;
            width: 100%;
            @media(max-width: 960px) {
              font-size: 16px;
              line-height: 21px;
            }
          }
          .name {
            color: #777777;
            margin-bottom: 13px;
            @media(max-width: 960px) {
              font-size: 14px;
              line-height: 18px;
              margin-bottom: 1px;
            }
          }
        }
      }
      .structure-chart {
        margin-top: 35px;
        display: flex;
      }
      .chart-description {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        margin-left: 16px;
        @media(max-width: 550px) {
          margin-bottom: 13px;
        }
        &_wrap {
          margin-top: 30px;
          @media(max-width: 550px) {
            margin-top: 0;
          }
        }
        .circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #00FFA3;
        }
        .chart-text {
          font-weight: normal;
          font-size: 20px;
          line-height: 26px;
          text-transform: uppercase;
          margin-left: 13px;
          @media(max-width: 550px) {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
      .structure-row {
        display: flex;
        justify-content: flex-end;
        margin-top: 62px;
        @media(max-width: 960px) {
          display: block;
        }

        @media(max-width: 550px) {
          margin-top: 53px;
        }
        &_item {
          margin-left: 50px;
          @media(max-width: 960px) {
            margin-bottom: 25px;
            margin-left: 25px;
          }
          p {
            margin: 0;
            width: 100%;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            text-transform: uppercase;
            @media(max-width: 960px) {
              font-size: 16px;
              line-height: 21px;
            }
          }
          &-name {
            font-weight: bold;
            font-size: 26px;
            line-height: 34px;
            @media(max-width: 960px) {
              font-size: 16px;
              line-height: 21px;
            }
          }
          .text {
            color: #777777;
            margin: 15px 0;
            @media(max-width: 960px) {
              margin: 8px 0;
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
    &_chart {
      width: 1160px;
      margin-bottom: 35px;
      border-radius: 5px;


      .tab {
        width: 1160px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid transparent;
        margin-bottom: 30px;

        @media(max-width: 960px) {
          width: 90%;
        }

        .tab-item {
          outline: none;
          border-radius: 5px;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #171D21;
          flex: none;
          order: 0;
          align-self: center;
          padding: 10px 25px;
        }

        .tab-active {
          background:  #FFBB55;
          padding: 10px 25px;
          border-radius: 5px;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #171D21;
          flex: none;
          order: 0;
          align-self: center;
        }

        &-item {
          font-family: 'Gilroy';
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          text-transform: uppercase;
          cursor: pointer;
          padding-bottom: 12px;
          @media(max-width: 550px) {
            padding-bottom: 6px;
          }
          &:nth-child(2n) {
            margin-left: 35px;
            @media(max-width: 550px) {
              padding-bottom: 6px;
            }
          }

          @media(max-width: 550px) {
            margin-left: 16px;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    .recent-trades_wrap {

    }
  }
</style>
