<template>
  <div class="trade-page">
    <div class="sections-wrap">
      <div class="trade-page_contract">
        <LimitContract/>
        <Contract class="contract"/>
      </div>
      <div class="trade-page_history">
        <div class="history-item">
          <div>
            <div class="cryptocurrency">
              <div>
                <p class="name">история торгов</p>
                <span class="cryptocurrency-name">btc</span>
              </div>
              <div class="cryptocurrency-percent">
                <img v-if="true" src="/images/Vector.svg" alt=""/>
                <img v-if="false" src="/images/VectorUp.svg"/>
                <span :class="{'positive': true, 'negative': false }">+5%</span>
              </div>
            </div>
            <client-only>
              <div id="chart">
                <apexchart type="line" :height="70" :options="chartOptions" :series="series"></apexchart>
              </div>
            </client-only>
          </div>
          <div class="balance">
            <div class="currency-control">
              <p>мой баланс</p>
              <span>2.51231 btc</span>
            </div>
            <div class="btn-wrapper">
              <button class="control-btn">
                управление
              </button>
            </div>
          </div>
          <div v-if="false" class="invest">
            Инвестировать
          </div>
        </div>
        <div class="history-item">
          <div>
            <div class="cryptocurrency">
              <div>
                <p class="name">история торгов</p>
                <span class="cryptocurrency-name">usdt</span>
              </div>
              <div class="cryptocurrency-percent">
                <img v-if="false" src="/images/Vector.svg" alt=""/>
                <img v-if="true" src="/images/VectorUp.svg"/>
                <span :class="{'positive': false, 'negative': true }">-5%</span>
              </div>
            </div>
            <client-only>
              <div id="chart2">
                <apexchart type="line" :height="70" :options="negativeChartOptions"
                           :series="negativeSeries"></apexchart>
              </div>
            </client-only>
          </div>
          <div v-if="false" class="balance">
            <div class="currency-control">
              <p>мой баланс</p>
              <span>2.51231 btc</span>
            </div>
            <div class="btn-wrapper">
              <button class="control-btn">
                управление
              </button>
            </div>
          </div>
          <button class="invest">
            Инвестировать
          </button>
        </div>
        <div class="history-item">
          <div>
            <div class="cryptocurrency">
              <div>
                <p class="name">история торгов</p>
                <span class="cryptocurrency-name">del</span>
              </div>
              <div v-if="false" class="cryptocurrency-percent">
                <img v-if="false" src="/images/Vector.svg" alt=""/>
                <img v-if="true" src="/images/VectorUp.svg"/>
                <span :class="{'positive': false, 'negative': true }">-5%</span>
              </div>
            </div>
            <client-only>
              <div v-if="false" id="chart3">
                <apexchart type="line" :height="70" :options="chartOptions" :series="series"></apexchart>
              </div>
              <div class="setingIcon">
                <img v-if="true" src="/images/Group.svg" alt="" />
              </div>
            </client-only>
          </div>
          <div v-if="false" class="balance">
            <div class="currency-control">
              <p>мой баланс</p>
              <span>2.51231 btc</span>
            </div>
            <div class="btn-wrapper">
              <button class="control-btn">
                управление
              </button>
            </div>
          </div>
          <div class="invest noInvest">
            В разработке
          </div>
        </div>
      </div>
    </div>
    <div class="recent-trades-wrap">
      <div>
        <div class="recentTrade">
          <RecentTrades/>
        </div>
      </div>
    </div>
    <Footer class="footer-bar"/>
  </div>
</template>

<script>
  import Contract from "../components/Contract";
  import RecentTrades from "../components/RecentTrades";
  import LimitContract from "../components/LimitContract";
  import Footer from "../components/Footer";
  import Header from "../components/Header";

  export default {
    layout: 'default',
    components: {Contract, RecentTrades, LimitContract, Footer, Header},
    data: () => {
      return {
        a: 25000,
        b: 50000,
        historyData: [
          {}
        ],
        series: [{
          name: "Desktops",
          data: [1, 3, 2, 5, 7, 4, 7, 5, 7, 8, 9, 12, 15, 3, 2, 5, 7, 4, 7, 5, 7, 8, 9, 12, 15]
        }],
        chartOptions: {
          chart: {
            height: 350,
            type: 'line',
            zoom: {
              enabled: false
            }
          },
          dataLabels: {
            enabled: false
          },
          colors: ['#00FFA3'],

          stroke: {
            curve: 'smooth',
          },
          grid: {
            show: false,
          },
          xaxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
            labels: {
              show: false,
            },
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            }
          },
          yaxis: {
            show: false,
            showAlways: false,
            showForNullSeries: false,
            labels: {
              show: true,
            }
          },
        },
      }
    },
    computed: {
      percentBarWidth() {
        const percent = this.a / this.b * 100
        return {
          width: `${percent}%`
        }
      },
      negativeChartOptions() {
        const newChartOptions = {...this.chartOptions}
        newChartOptions.colors = ['#777777']
        return newChartOptions
      },
      negativeSeries() {
        const newSeries = [...this.series]
        newSeries[0].data = [15, 13, 12, 7, 10, 8, 7, 5, 7, 8, 9, 12, 5, 3, 2, 5, 7, 4, 7, 5, 7, 8, 9, 4, 1]
        return newSeries
      }
    }
  }
</script>
<style lang="scss">
  .trade-page {
    .apexcharts-toolbar {
      display: none;
    }
  }
</style>
<style lang="scss" scoped>
  .trade-page {
    width: 100%;
    background: #171d21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &_contract {
      /*height: 182px;*/
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 80px;
      margin-top: 60px;
      @media (max-width: 960px) {
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
      }

      .contract {
        margin-left: 70px;
        width: 50%;

        @media(max-width: 960px) {
          margin-left: 0;
          width: 90%;
          margin-top: 30px;
        }
      }
    }

    &_history {
      display: flex;
      justify-content: space-between;
      background: #171d21;
      @media (max-width: 960px) {
        margin-left: 5%;
        justify-content: flex-start;
        overflow-x: scroll;
      }

      .history-item {
        width: 31%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #222930;
        border-radius: 5px;
        padding: 30px 30px 30px;
        @media(max-width: 960px) {
          padding: 20px 20px 20px;
          margin-right: 20px;
          min-width: 270px;
        }


        .name {
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #58626C;
          margin-bottom: 4px;
          @media(max-width: 550px) {
            font-size: 12px;
            line-height: 18px;
          }
        }

        .cryptocurrency {
          display: flex;
         justify-content: space-between;

          &-name {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            @media(max-width: 960px) {
              font-size: 18px;
              line-height: 21px;
            }
          }

          &-percent {
            background: #171D21;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            line-height: 21px;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: flex;
            align-items: center;

            img {
              margin-left: 26px;
              @media(max-width: 960px) {
                margin-left: 15px;
              }
            }

            .positive {
              margin: 19px 26px 19px 16px;
              color: #00FFA3;
              font-family: 'Gilroy';
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              @media(max-width: 960px) {
                margin: 10px 10px 10px 5px;
                font-size: 12px;
                line-height: 18px;
              }

            }

            .negative {
              font-family: 'Gilroy';
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 21px;
              letter-spacing: 0.1em;
              text-transform: uppercase;
              margin: 19px 26px 19px 16px;
              color: #FF6060;
              @media(max-width: 960px) {
                font-size: 14px;
                line-height: 22px;
                margin: 10px 10px 10px 5px;
              }
            }
          }
        }

        .inDeveloping {
          font-weight: normal;
          font-size: 20px;
          line-height: 26px;
          text-transform: uppercase;
          margin-top: 40px;
          color: rgba(255, 255, 255, 0.5);
          @media(max-width: 960px) {
            margin: 40px 0px;
          }
        }

        .balance {
          margin-top: 25px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          @media(max-width: 960px) {
            margin-top: 20px;
            width: 100%;
            flex-direction: column;
            align-items: center;
          }
          .btn-wrapper {
            @media(max-width: 960px) {
              width: 100%;
            }
          }

          p {
            font-family: 'Gilroy';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #58626C;
            margin-top: 0px;
            margin-bottom: 1px;
            @media(max-width: 960px) {
              font-size: 14px;
              line-height: 18px;
            }
          }

          .currency-control {
            @media(max-width: 960px) {
              margin-bottom: 10px;
              width: 100%;
              display: flex;
              justify-content: space-between;
            }

            span {
              font-family: 'Gilroy';
              font-style: normal;
              font-weight: 500;
              text-transform: uppercase;
              font-size: 18px;
              line-height: 21px;
              text-align: right;
              letter-spacing: 0.1em;

              color: #FFFFFF;
            }


          }
          .control-btn {
            display: flex;
            height: 59px;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
            border: 1px solid #FFBB55;
            background: #FFBB55;
            border-radius: 5px;
            font-family: 'Gilroy';
            outline: none;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #171D21;
            flex: none;
            order: 0;
            align-self: center;
            @media(max-width: 960px) {
              width: 100%;
            }
          }
        }

        .invest {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 59px;
          padding: 0 15px;
          border: 1px solid #FFBB55;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: bold;
          outline: none;
          background: #FFBB55;
          border-radius: 5px;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          color: #171D21;
          flex: none;
          order: 0;
          align-self: center;
          margin: 0px 10px;

        }

        .noInvest {
          border: 1px solid #58626C;
          background: #58626C;
          border-radius: 5px;
          @media(max-width: 960px) {
            margin-top: 20px;
          }
        }

        /*@media (max-width: 960px) {*/
        /*  margin-bottom: 16px;*/
        /*  margin-right: 0px;*/
        /*}*/
      }
    }

    .recent-trades-wrap {
      width: 1160px;
      @media(max-width: 1160px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .recentTrade {

        @media(max-width: 1160px) {
          overflow-x: scroll;
        }
        @media(max-width: 960px) {
          margin-left: 5%;
        }
      }
    }

    .sections-wrap {
      width: 1160px;
      margin: 0 auto;
      @media(max-width: 1160px) {
        width: 100%;
      }

    }

    .footer-bar {
      margin-top: 139px;
      height: 169px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      background: #171d21;
      border-radius: 5px;
      padding: 20px 0 30px 0;
      @media(max-width: 960px) {
        margin-top: 0px;
        padding: 0;
        height: 143px;

      }
    }

    .setingIcon {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 154px;
      background: #171D21;
      border-radius: 5px;
      @media(max-width: 960px) {
        height: 94px;
      }
    }

    #chart {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #171D21;
      border-radius: 5px;
      height: 154px;
      @media(max-width: 960px) {
        height: 94px;
      }
    }

    #chart2 {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #171D21;
      border-radius: 5px;
      height: 154px;
      @media(max-width: 960px) {
        height: 94px;
      }
    }

  }
</style>
