<template>
  <div class="wallet-page_wrap">
    <div class="wallet-page">
      <div
        v-for="(item,i) in currencyData"
        :key="i"
        class="currency-box_wrap"
      >
        <div class="currency-box">
          <div class="top-row">
            <div class="top-row_item">
              <span class="name">{{item.name}}</span>
              <div class="tabs">
                <div
                  v-for="(tab,i) in tabs"
                  :key="i"
                  class="tab"
                  :class="{'tab-active': tab.active && item.activeBox}"
                  @click="tabSelect(tab, item)"
                >
                  {{tab.name}}
                </div>
              </div>
              <client-only>
                <component v-if="item.activeBox" class="tab-component" :is="currentComponent" />
              </client-only>

            </div>
            <div class="top-row_item">
              <span class="total">всего</span>
              <span class="total-value">{{ item.value }} {{ item.currency }}</span>
            </div>
          </div>
          <p v-if="item.activeBox" class="wallet-text">Процесс получения биткоинов обычно занимает 30 минут, однако он может затянуться до 14 дней и больше.
            Входящая транзакция должна получить 3 подтверждения сети биткоинов</p>
        </div>
      </div>

      <TransactionsHistory />

    </div>
  </div>
</template>

<script>
  import TransactionsHistory from "../components/TransactionsHistory";
  import FillUp from "../components/walletActions/FillUp";
  import Bring from "../components/walletActions/Bring";
  import Translate from "../components/walletActions/Translate";
  export default {
    layout: 'default',
    components: {TransactionsHistory, FillUp, Bring, Translate},
    data: () => {
      return {
        currencyData: [
          {name: 'bitcoin', value: '0.0002353', currency: 'BTC', activeBox: true},
          {name: 'usdt', value: '1 123', currency: 'usdt', activeBox: false},
          {name: 'del', value: '1 123 432', currency: 'del', activeBox: false},
          {name: 'elv', value: '100 312', currency: 'elv', activeBox: false},
        ],
        tabs: [
          {name: 'Пополнить', component: 'FillUp', active: true},
          {name: 'Вывести', component: 'Bring', active: false},
          {name: 'Перевести', component: 'Translate', active: false},
        ],
        currentComponent: 'FillUp'
      }
    },
    methods: {
      tabSelect(tab, boxItem) {
        this.currencyData.map(box => {
          if(box.name === boxItem.name) {
            box.activeBox = true
          } else {
            box.activeBox = false
          }
        })
        this.currentComponent = tab.component
        this.tabs.map(item => {
          if(item.name === tab.name) {
            item.active = true
          } else {
            item.active= false
          }
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .wallet-page {
    font-family: 'Roboto Slab';
    background: #1B1B30;
    margin: 0 auto 0;
    color: #ffffff;
    padding-bottom: 340px;

    &_wrap {
      background: #1B1B30;
      height: 100vh;
    }

    .currency-box {
      width: 960px;
      margin: 0 auto;
      padding-top: 40px;
      padding-bottom: 47px;
      @media(max-width: 1440px) {
        /*width: 88%;*/
      }
      &_wrap {
        background-color: #232540;
        margin-top: 20px;
      }
      .top-row {
        display: flex;
        justify-content: space-between;
        &_item {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          font-weight: bold;
          .tab-component {
            margin-top: 44px;
          }
          &:last-child {
            width: 30%;
          }
          .name {
            font-weight: bold;
            font-size: 40px;
            line-height: 53px;
            text-transform: uppercase;
            margin-bottom: 36px;
          }
          .tabs {
            display: flex;
            align-items: center;
            /*margin-bottom: 44px;*/
            .tab {
              font-family: 'Roboto';
              font-weight: bold;
              font-size: 20px;
              line-height: 23px;
              text-transform: uppercase;
              cursor: pointer;
              padding-bottom: 10px;
              margin-right: 55px;
              border-bottom: 2px solid transparent;
              &:last-child {
                margin-right: 0;
              }
            }
            .tab-active {
              border-bottom: 2px solid #00FFA3;
            }
          }
          .total {
            font-size: 16px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.5);
          }
          .total-value {
            font-size: 40px;
            line-height: 53px;
          }
        }
      }
    }
    .wallet-text {
      margin-top: 34px;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
    }
  }
</style>
